[2013-05-18 21:28] rgrp opened #29 "Add "improve this page" link to the bottom of pages linking to relevant github page here"

[2013-06-04 11:58] rgrp opened #50 "Integrate ideas into the website"
Not sure how yet ...

[2013-06-23 13:29] rgrp opened #63 "Add publicbodies project to projects list"
* http://publicbodies.org/
* github: https://github.com/okfn/publicbodies
* Contributors include: rgrp, wombleton, pudo, rossjones, dread ...
* Posts
  * http://okfnlabs.org/blog/2013/05/01/publicbodies.org-an-update.html
  * http://pudo.org/blog/2011/10/24/publicbodies.html

@andylolz this could be a good tryout for our walk-through of new add projects setup (this is also a great project for cont

[2013-07-07 13:38] rgrp opened #68 "Better join in process"
Discussion issue about how to further improve the join in process  - http://okfnlabs.org/join/ etc

Related issues

* cf better projects page #46
* cf integrate ideas into website #50

[2013-07-07 14:51] rgrp opened #71 "Deprecate / move data page"
http://okfnlabs.org/data/

Data page is no longer totally up to date. Suggest we:

* Move bibserver / bibsoup stuff to be on projects - may want to ping @markmacgillivray about this
* CKAN - remove (not specifically labs and sufficiently standalone ... - though perhaps worth listing as a Labs project that has graduated ...?)
* OpenSpending - ditto (?)
* PyBossa - delete as already on projects
* No

[2013-07-07 15:14] rgrp opened #73 "Tidy up main events page and merge hangouts page into it"
Need to also correct links from e.g. /join/

see also #76 (open data maker nights page)

[2013-07-08 15:51] rgrp opened #76 "Open Data Maker night event page should auto list open data maker events"

[2013-08-05 13:45] rgrp opened #96 "Signpost blog contribution options better"
* Put something in blog sidebar
* Sign post this clearly on join page
* Improve instructions on blog/add to point out you can get in touch via email ...

[2013-11-13 15:43] andylolz opened #130 "Guidelines for contributors"
I’m increasingly aware that I am very inconsistent with my OKF labs contribution workflow, and some of my practices are possibly quite bad!

Do guidelines exist for this? If not, perhaps there could be a set of general OKF labs guidelines that individual projects override as required. Does that seem ok, or a bit prescriptive?

As a starting point for a guideline doc, **here are the subjectively go

[2013-11-19 18:44] rgrp opened #134 "One-click create of an open data maker night"
/cc @andylolz

As an Organizer of an Open Data Maker Night I want to add a few details and automatically have info for the open data maker night created

 * webpage (on okfnlabs.org?)
 * [optional] registration (embedded in the web page)
 * email all previous attendees in my area

Comment: A start here would be a really good set of instructions

## Proposal

Create a template with some specified f

[2013-12-08 17:17] rgrp opened #142 "Establish informal sysadmin team"
Please add a comment with your name below if you are interested!

How it will work:

* We'll probably establish a rota.
* Need to be "contactable" (on irc) during "normal" hours - e.g. day your time, when on rota (probably one week a month or less depending on numbers involved). We don't run a lot of mission critical stuff here so its pretty informal.
* 1-3h per month of time to dedicate (either d

[2013-12-08 17:47] rgrp opened #146 "[Post] s3 js access and simple file browser"
https://github.com/rgrp/s3-bucket-listing

[2013-12-15 12:12] rgrp opened #153 "[Post] Highlight data.okfn.org dataset: country list and codes"
* http://data.okfn.org/data/country-list
* http://data.okfn.org/data/country-codes

Things people need:

* All countries as CSV and JSON ...

[2013-12-15 12:13] rgrp opened #154 "[Post] s3 js access and simple file browser"
https://github.com/rgrp/s3-bucket-listing

[2013-12-15 20:07] rgrp opened #155 "[Post] Review of PDF data wrangling tools"
Write a post reviewing data wrangling tools for PDFs

**Text in progress at: <del>http://pad.okfn.org/p/labs-post-pdf-tools</del> inlined below**

Based on research material in https://github.com/okfn/ideas/issues/52

Questions:

* [ ] should we split into a series e.g. [ans: no]
  * libraries and tools
  * web services
  * specific examples - e.g. scraping in python, scraping in node etc
  * usin

[2013-12-17 18:37] rgrp opened #156 "Create a "learn" participation route"
A thing a lot of people want to do is "learn" e.g. data wrangling or javascript. Just having that as an option as a route in could be great.

[2014-01-11 15:15] rgrp opened #164 "Reduce size of project images"
project images for projects are often quite massive (somtimes >500K) and this is bad for page performance and b/w usage.

Especially a problem on project listing page (cf #46) as we load all project images

[2014-01-13 10:10] rgrp opened #170 "[Add Project] webshot"
http://webshot.okfnlabs.org/

Owned by @simong

[2014-01-21 09:34] rgrp opened #174 "[Add Project] YourTopia"
Add yourtopia to http://okfnlabs.org/projects/

* Code: https://github.com/okfn/yourtopia
* Running site: http://italia.yourtopia.net/
  * Original site http://yourtopia.net/ - currently deprecated and needing a reboot with the new codebase
* Mark as featured ...

[2014-02-19 18:57] rgrp opened #185 "[Post] OpenInterests post"
@pudo would you be up for writing a post for labs blog with latest developments?

[2014-03-03 20:24] rgrp opened #188 "[Post] Disclosure Logs"
@maxious - would you be up for writing a post about disclosurelo.gs - perhaps with an emphasis on scraping (and its challenges)?

[2014-03-17 17:18] stefanw opened #198 "Project filters should be reflected in the URL of the project listing"

[2014-06-05 16:02] nmashton opened #215 "Newsletter June 2014"
Let's start collecting submissions for June's newsletter right away! This link will be included in the May newsletter which I'm about to mail out.

If you're a Labs participant and you've been up to something interesting, let us know by leaving a comment in this thread.

[2014-06-05 17:09] nmashton opened #217 "Update site branding"
As David Read pointed out, the Labs website is still using the old branding: it refers to Open Knowledge as "Open Knowledge Foundation", uses the old logo, etc. (Actually, he just pointed out that the newsletter was sent out under the old name... but this highlights a broader problem.)

Fixing this will involve a bunch of tasks:

- [x] site logo
- [x] color scheme
- [x] Twitter avatar
- [x] all te

[2014-08-30 10:37] rgrp opened #223 "Record Labs sysadmin info somewhere"
Suggest using `sysadmin` folder in this repo (or possibly /about/sysadmin/)

Suggest storing:

* List of Labs sysadmins (+ their public keys??)
* List of services we run and their mapping to machines
  * A service can be a webapp or just a DB (where DB is service in itself)

Suggest storing as either json or csv ...

cf how we used to do things in the main sysadmin/infra repo for OK International:

[2014-09-11 09:13] rgrp opened #225 "[Post] Latest developments with grano"
@pudo - grano looks to have been developing in leaps and bounds. Would you be interested in putting up a post about the latest developments and future directions?

[2014-09-19 23:47] rgrp opened #226 "Sign up for gittip / gratipay"
And work out how the organization stuff works

[2014-11-18 14:57] loleg opened #241 "Add discuss link to Contact page"
If we are going to move to supporting folks over on [discuss.okfn.org](http://discuss.okfn.org/), then we should add a prominent link to the [Get in Touch](http://okfnlabs.org/contact/) page. In similar vein we could think about project support links to corresponding tags.

[2014-12-08 09:39] rgrp opened #255 "Labs "roles" attribute on person profile shown on their page"
Proposal: introduce a roles attribute on a person to list their role(s). Would also like to display this with a nice appropriate badge on the members list and their personal page ...

Roles
* sysadmin
* lead
* webministrator
* (Blog) editor
* (Newsletter) editor

Other recognition
* Attended an open data maker night
* Run an open data maker night
* Written a blog post
* Contributed to the newslett

[2014-12-28 10:57] rgrp opened #269 "[project] Add FacetView to projects page"
https://github.com/okfn/facetview

[2014-12-28 10:58] rgrp opened #270 "[project] Add BibServer project page"
https://github.com/okfn/bibserver

BTW: bibserver, facetview and bibjson all go together - wonder if we need some way to indicate "linked to" style relationship for projects ...

[2014-12-28 10:59] rgrp opened #271 "[project] Add BibJSON project page"
http://okfnlabs.org/bibjson/ - https://github.com/okfn/bibjson

Status:

* Complete
* Not in active development (atm)

[2014-12-28 11:13] rgrp opened #272 "Individual project page includes activity stream from github (if github based)"
Similar to activity stream on http://okfnlabs.org/ideas/ (and can use githubActivity.js -https://github.com/okfn/githubActivity.js)

Should show latest 5-10 activities for this project (perhaps in sidebar or next to description).

[2015-01-02 21:59] rgrp commented on #270
@danfowler up for this one too?

[2015-01-02 22:01] rgrp commented on #255
@danfowler / @mchelen I think we also should show these badges (perhaps in smaller size on the members page). wdyt?

I also wonder if we should colour code the badges a bit to distinguish types of badges. e.g. "roles" style badge like lead or sysadmin might be orange whilst awards (e.g. ran open data maker night is green). wdyt?

[2015-01-02 22:05] rgrp opened #274 "Determine status categories for projects and apply them consistently"
Projects have some kind of life-cyle. E.g. here's a rough stab:

* Starting
* Alpha
* Beta
* Stable
* Complete and/or Ongoing
* Retired / Archived

### Why do we care?

As a New Visitor who is interested in contributing to projects I want to know what state projects are in so that I can know where to contribute

As a Browsing Visitor (not planning to contribute) I want to know whether a project is

[2015-01-03 10:43] rgrp commented on #63
@danfowler up for doing this one too?

BTW: I think this is one to mark as featured and to mark as good for contributors.

[2015-01-05 11:11] danfowler commented on #255
Agreed on both counts. There should be some distinction between having an ongoing role and being recognized for a one-time contribution.

[2015-01-05 13:44] danfowler commented on #255
![screen shot 2015-01-05 at 4 34 08 pm](https://cloud.githubusercontent.com/assets/772616/5613741/0352ff76-94fa-11e4-846c-f562b72a2e0f.png)

Colors are nice.

[2015-01-05 14:16] rgrp commented on #255
@danfowler looks lovely.

[2015-01-05 14:16] rgrp commented on #255
FIXED :-)

[2015-01-05 14:16] #255 closed

[2015-01-06 13:18] danfowler commented on #217
There are still a bunch of references to Open Knowledge Foundation in, say, _layouts/default.html and the Open Graph Protocol stuff in <head> (for Facebook sharing) links to the old logo.

[2015-01-06 13:26] rgrp commented on #217
@danfowler great point - would you be up for doing s/Open Knowledge Foundation/Open Knowledge/g?

[2015-01-09 10:16] danfowler commented on #271
![bibjson](https://cloud.githubusercontent.com/assets/772616/5678103/dcbf04aa-97ff-11e4-956f-cd62043ef4da.png)

[2015-01-09 10:17] danfowler commented on #270
![bibserver](https://cloud.githubusercontent.com/assets/772616/5678298/dce3743c-9801-11e4-8486-7714c87e814c.png)

[2015-01-09 10:18] danfowler commented on #269
![facetview](https://cloud.githubusercontent.com/assets/772616/5678304/f354fa1a-9801-11e4-8e1a-87625cd412b7.png)

[2015-01-09 10:23] danfowler commented on #170
![webshot](https://cloud.githubusercontent.com/assets/772616/5678362/a72f3848-9802-11e4-9dca-0b83c7d99579.png)

[2015-01-09 10:36] danfowler commented on #63
![publicbodies](https://cloud.githubusercontent.com/assets/772616/5678521/78916810-9804-11e4-9054-8db52c6b2208.png)

[2015-01-09 12:09] danfowler commented on #270
I linked to the related projects in the description.

[2015-01-09 12:28] danfowler commented on #217
Sure

[2015-01-09 12:36] rgrp opened #278 "New Badges Round 1"
Wanted to brainstorm additional badges:

Roles:

- Project Contributor - contribute to one or more of the Labs projects (i.e. on projects page)
 - Project Lead (?) - atm i don't think we distinguish

Achievement

- Website fix - you have submitted at least one pull request to improve the website
- Forum / mailing list post (?)

----

Asides:

- Want to document how people can claim / apply badges

[2015-01-09 12:37] rgrp commented on #278
@danfowler @mchelen ^^^ - also should we ping the mailing list about this (perhaps first tell them about aweseome badging work we have implemented!)

[2015-01-11 14:00] danfowler commented on #278
Pulling a bit from @mchelen [suggestions](https://github.com/okfn/okfn.github.com/issues/255#issuecomment-67101527):

Project Maintainer ("Lead"): http://fontawesome.io/3.2.1/icon/star/
Project Contributor: http://fontawesome.io/3.2.1/icon/star-empty/
Website fix: http://fontawesome.io/3.2.1/icon/wrench/
Forum / mailing list post: http://fontawesome.io/3.2.1/icon/comment/
(though not sure this one

[2015-01-11 17:51] danfowler commented on #272
This will make it easier to hit the GitHub API request limit (though probably only for very enthusiastic project browsers).

[2015-01-13 11:39] danfowler commented on #272
Looks good when populated, but probably needs a better empty state.

![screen shot 2015-01-12 at 11 16 05 am](https://cloud.githubusercontent.com/assets/772616/5720178/d6b802de-9b31-11e4-955b-36b0408b7d7e.png)
![screen shot 2015-01-13 at 2 36 18 pm](https://cloud.githubusercontent.com/assets/772616/5720179/d6bac226-9b31-11e4-84d0-72b6163ed50e.png)

[2015-01-13 18:50] danfowler opened #280 "Latest Activity on homepage doesn't load ever"
Broken because annotator has old repo name.

[2015-01-15 11:06] #63 closed

[2015-01-15 11:06] #269 closed

[2015-01-16 13:08] #280 closed

[2015-01-16 13:16] rgrp opened #282 "Projects List supports simple text search"
In addition to the filters it would be nice if you could do simple text search of titles.

i.e. if i type "public" i would get all projects whose titles match "public" (it would be nice if this matching happened live - i.e. on each keystroke the filter was applied ...)

[2015-01-16 13:16] rgrp commented on #282
@danfowler @loleg @mchelen what do you think

[2015-01-16 13:19] rgrp opened #283 "[Project] Add Open Product Data as a project"
Site itself is down atm (we need to fix): http://product-open-data.com/ (but you can check in web archive)

Other resources to get an overview:

* https://github.com/okfn/?query=product - 4 github repos associated
* [Drive folder with documentation](https://drive.google.com/a/okfn.org/?usp=docs_web#folders/0B6R8dXc6Ji4JWjRZX0NNdzlybzQ)
* This is the working group associated: http://product.okfn.or

[2015-01-16 13:27] rgrp commented on #278
The more I think the more I'm +1 on distinguishing lead from contributor.

Re lead icon: I think we could use the current rocket ship (we use for labs lead) and have labs lead have the "key" icon ("keys to the kingdom" thing). I'm -1 on flag as not very clear and I think we should reserve stars for use in "starring" (I'm actually wondering if all achievements are of form "star" + something ...)

[2015-01-16 13:28] rgrp commented on #278
@danfowler would you be up for emailing the labs list about this thread and soliciting input - i think this is a good issue for people to opine on :-)

[2015-01-16 13:31] rgrp opened #284 "Achievements and Roles page"
I think it could be nice to have an Achievements and Roles page (either one page or 2 separate) where we list people by role and achievements (now that we have roles and achievements). Alternatively we could have one page called just "badges"

Suggest:

[code]

This might also be the better place to list the categories of roles and achievements than the current `/join/` page.

[2015-01-16 13:32] rgrp commented on #284
@danfowler @mchelen @mattfullerton @markbrough @loleg  wdyt?

[2015-01-16 14:03] #271 closed

[2015-01-16 14:03] #270 closed

[2015-01-16 14:03] #170 closed

[2015-01-17 21:57] loleg commented on #282
Considering this can be done by browser find, plus that if people are looking for a specific project they are more likely to Google it, I would rather think about site-wide full text search?

[2015-01-17 22:03] loleg commented on #284
I think filter buttons on the Members page could work well too. Having a single badge page seems like the trendy thing to do these days, viz. [Webmaker](https://webmaker.org/en-US/badges/webmaker-super-mentor), and their detailed explanation of what the role/accomplishment entails. Speaking of which, are we already using/considering [OpenBadges](http://openbadges.org/)?

[2015-01-17 22:04] loleg commented on #215
This is now out of date; closing.

[2015-01-17 22:04] #215 closed

[2015-01-18 12:05] rgrp commented on #284
@loleg we looked at Open Badges quite a bit here https://trello.com/c/LvcBmpiN/6-badges-okfn-org-giving-recognition-for-what-people-learn-and-do-around-the-network

Personally, I've struggled to grok exactly how to use openbadges to do simple stuff, quickly but I would be delighted to use it if it would deliver value and be relatively easy to use.

[2015-01-18 12:11] rgrp commented on #282
@loleg I'm a bit concerned re UX - i keep going there and typing and then realizing that doesn't work and i have to do Ctrl+F. Usually when I see a search box I think i can search (though I realize this one is a filter box - maybe we can signpost that better somehow).

[2015-01-20 07:56] danfowler commented on #272
Feature added, closing.

[2015-01-20 07:56] #272 closed

[2015-01-20 08:48] danfowler commented on #284
I agree that a single `/members/badges/` page would be nice, and the `/join` badges stuff could be moved there.  @loleg this badging implementation falls under the category of "Jekyll tricks", though  I wonder if it would be possible/worth the effort to conform to the [assertion standard](https://github.com/openbadges/openbadges-specification/blob/master/Assertion/latest.md) for OpenBadges (hosted

[2015-01-20 08:54] danfowler commented on #282
:+1:

[2015-01-20 08:55] danfowler commented on #278
Yeah, I'll put an :email: together.

[2015-01-21 06:25] rgrp commented on #272
w00t!

[2015-01-21 16:33] mchelen commented on #278
I like "key" for labs admin, "rocket" for project maintainer, and the idea of distinguishing between project maintainer & project contributor. The only thing I'm not sure about is what icon to use for project contributor? Here are some options, maybe one would be good:
http://fontawesome.io/3.2.1/icon/briefcase
http://fontawesome.io/3.2.1/icon/cloud-upload
http://fontawesome.io/3.2.1/icon/cogs
htt

[2015-01-23 07:43] rgrp commented on #142
@mchelen @danfowler I propose we designate you two plus myself as the current official sysadmins :-) (we need to get ourselves badges ;-) ...)

Next steps will be getting credentials - cf #223 and then making sure you have access to labs machines.

[2015-01-23 17:19] danfowler commented on #217
The favicon located at "http://assets.okfn.org/p/okfn/img/favicon.ico" needs to change.  Twitter avatar should probably be: "http://assets.okfn.org/p/labs/img/icon-512.png".

[2015-01-24 10:36] danfowler commented on #142
:neckbeard:

[2015-01-24 13:51] mchelen commented on #142
Sounds good, one thing to think about is where issues will be aggregated, so we know when someone needs help.

[2015-01-24 19:32] rgrp commented on #142
@mchelen great question - what do you think of using this issue tracker and if that gets messy we can boot a dedicated one (definitely think we want a proper tracker not e.g. the [discussion forum](http://discuss.okfn.org/) - if things arise there and become an actual request they can become an issue here)

[2015-01-24 19:32] rgrp commented on #142
@danfowler you have the most awesome emoticons ;-)

[2015-01-24 19:35] rgrp commented on #142
@danfowler would you be happy to take a lead on #223

[2015-01-24 19:35] rgrp commented on #223
@danfowler we can have a simple json or csv file here - all we need is name and ssh key at the moment i think :-)

[2015-01-25 13:10] rgrp commented on #217
@danfowler as a sysadmin I suggest you get access to okfnlabs twitter both to tweet and then can also update the icon.

[2015-01-25 15:08] danfowler commented on #217
cool, icon updated, will fix the Twitter color scheme to match @okfn probably

[2015-01-25 15:10] danfowler commented on #223
cool, sounds simple enough

[2015-01-25 19:47] mchelen commented on #142
@rgrp Using this issue tracker sounds good, just need to add a section in http://okfnlabs.org/contact/ to let users know.

[2015-01-25 20:40] danfowler commented on #142
@rgrp yup! and you can thank :octocat: for the emoticons!

[2015-01-28 10:10] danfowler opened #287 "Blog roll outdated links & current inspiration"
The "blogroll" on http://okfnlabs.org/blog/ has many broken/outdated links.  Some could be fixed, but I thought it might be worth creating a *new* list of "places we find inspiration".

[2015-01-28 10:59] rgrp commented on #287
@danfowler right now i suggest we move the blogroll (if many broken links) and then re-add in a little bit once we have a good new list.

My sense also is I'd rank this as low priority on website vs other issues such as #284

[2015-01-28 11:00] rgrp commented on #283
@danfowler would you be up for having a stab at this one? Its a particular priority as there are some folks interested in taking this on and we could then list them as leads / contributors.

[2015-01-28 14:21] danfowler commented on #223
@rgrp I put something together.  Was this what you were thinking?

[2015-01-28 14:22] danfowler commented on #287
totes

[2015-01-29 10:09] rgrp opened #290 "[Project] Reassign maintainer on oklabs site to dan fowler"
Propose: in recognition of @danfowler work and leadership here that he take over as "maintainer" ("lead") on http://okfnlabs.org/projects/open-knowledge-labs-website/

PS: should we rename "maintainer" to "lead" or something like that in the template?

[2015-01-29 10:11] rgrp commented on #284
@danfowler looking at http://okfnlabs.org/members/badges/ this is great but we do not yet have any listing of people under each badge - a key user story here is seeing who has which role (and perhaps on which project).

[2015-01-29 10:42] danfowler commented on #284
Right.  I'll put this together.

[2015-01-29 12:17] #283 closed

[2015-01-29 12:34] rgrp commented on #223
Yes, though I, personally, prefer csv or json to yaml ;-0

Let's get this up. And then we ping ok sysadmins re getting your keys on relevant machines.

[2015-02-03 14:20] danfowler commented on #290
Thanks! I definitely accept. I don't personally see a pressing need to change maintainer to lead especially when the site has other "leads".

[2015-02-04 12:35] #71 closed

[2015-02-08 12:27] rgrp commented on #290
@danfowler sounds good.

[2015-02-08 12:29] rgrp commented on #223
@danfowler are you happy to merge in?

[2015-02-08 12:31] rgrp commented on #142
So what we need to do, to close out:

* [ ] #223 (sysadmin info recorded)
* [ ] add info to contact page about getting hold of sysadmins on contact page - @mchelen do you have a suggestion here
* [ ] add Labs Sysadmin as a role and add this to relevant folks so it shows up on badges page

Anything else?

[2015-02-08 12:32] rgrp commented on #164
@mchelen @loleg what's the status of this issue? Is it WONTFIX or do we want to do more to close this out?

[2015-02-08 12:33] rgrp commented on #154
DUPLICATE of #146

[2015-02-08 12:33] #154 closed

[2015-02-08 12:33] rgrp commented on #76
@harry-wood this is something you flagged recently. My hope was to do a nice simple or use timemapper. Let me know if you are interested in this one ...

[2015-02-08 12:34] rgrp commented on #130
FIXED. https://github.com/okfn/coding-standards now exists.

[2015-02-08 12:34] #130 closed

[2015-02-08 12:35] rgrp commented on #50
WONTFIX. Archiving. Current http://okfnlabs.org/ideas/ does a good enough job.

[2015-02-08 12:35] #50 closed

[2015-02-08 12:36] rgrp commented on #241
FIXED by #254 (PR).

[2015-02-08 12:36] #241 closed

[2015-02-08 12:37] rgrp commented on #96
WONTFIX. Not worth doing and not a very likely contribution route for random arrivals.

[2015-02-08 12:37] #96 closed

[2015-02-08 12:38] rgrp commented on #188
WONTFIX. Assume @maxious is plenty busy :-)

[2015-02-08 12:38] #188 closed

[2015-02-08 12:39] rgrp commented on #217
@danfowler anything remaining here before we close?

[2015-02-08 12:44] rgrp opened #294 "Add new project status: "graduated""
Propose new project status: "graduated" which means the projects has successfully graduated (usually on to pastures new).

We would apply this to e.g.

- Crowdcrafting
- Annotator
- Kartograph

[2015-02-08 16:03] loleg commented on #164
@rgrp I'm fine with pulling in the patch from @mchelen - as long as we raise a separate issue to simplify the build steps, e.g. revisit the idea of using jekyll-picture-tag in the future.

[2015-02-08 16:43] rgrp opened #295 "[Project] Add DataPortals.org as a project"
http://dataportals.org/ + https://github.com/okfn/dataportals.org/

@mattfullerton are you up for adding this one? Also I'd imagine you and I would be down as maintainers :-)

[2015-02-08 18:05] rgrp commented on #164
@loleg my thing is i'd a bit concerned about having to run a build to do a deploy (will the patch require that going forward)?

[2015-02-11 13:38] danfowler commented on #217
I would propose a few more that I'm looking at:

- [ ] upload new version of favicon to s3 (I've made a version that I can upload when I have access)
- [ ] change default font-face to "Lato" (...and make the relevant additional adjustments)

[2015-02-11 13:55] rgrp commented on #217
@danfowler on font-face we can leave for the moment and fix later

re s3 can you push / pull request to https://bitbucket.org/okfn/assets.okfn.org

[2015-02-12 12:31] mchelen commented on #164
@rgrp Build is only required when you want to optimize the images. So for example when adding a new project with an external image URL, it will initially use the external URL. Then once someone runs build, it will fetch the image, optimize it, and use this new local & optimized version instead of the external URL.
I can't think of any simpler way to optimize images when they are external URLs.

@l

[2015-02-12 12:37] rgrp commented on #164
@mchelen @loleg. Awesome let's get this in :-)

[2015-02-13 03:29] swmerrill opened #296 "Make mysqldump data available for product-code"
Before we can continue work on getting the product-open-data site back up we need access to the data which is presumably in a mysqldump file. Can we get that put somewhere that we can access it?

[2015-02-13 16:15] rgrp commented on #296
@danfowler can I sync with you as Labs sysadmin to help move this forward. Ping me here and we can sort this.

[2015-02-13 16:54] danfowler commented on #296
Cool, yes.  What can I do?  Just to let you know, I'll be a bit slower to respond over the next two weeks as I'm traveling.

[2015-02-13 16:59] danfowler commented on #217
artist's rendering of new color scheme + lato font - grid background (which I think clashes a bit with the new color scheme)
![screen shot 2015-02-13 at 6 56 53 pm](https://cloud.githubusercontent.com/assets/772616/6191442/32851712-b3b2-11e4-9f2f-c3915828161a.png)

[2015-02-13 20:01] rgrp commented on #223
@danfowler can we get this merged in :-)

[2015-02-13 20:03] rgrp commented on #296
@danfowler ok so

1. we should ask @nigelbabu / @mattrm to get your ssh-key on the product-open-data.com current server (probably email sysadmin@okfn.org for this) (this is a labs server i believe)
2. Have a poke around to see where product-open-data.com is living
3. Either get a dump for @swmerrill  or invite @swmerrill to get his ssh key on there and fix directly!

[2015-02-15 07:11] #290 closed

[2015-02-15 16:12] danfowler commented on #223
Sorry, I missed this. Been traveling for the last week and for the next two weeks. Merging what I have.

[2015-02-15 16:34] danfowler commented on #296
Cool. Doing.

[2015-02-15 17:08] danfowler commented on #217
OK.  Merged in very simple search-and-replace-level color scheme changes + use okfn.org's favicon. A Labs-specific favicon & Lato can come later (if at all).  I guess the question is how closely Labs should hew to the greater Open Knowledge brand.

[2015-02-17 14:06] danfowler commented on #282
Looking at this again, an easy fix is to simply add a project's title to the drop-down list and filter on that (only, of course, yielding one result if selected).  Thanks to the nicely written projects.js, only a couple of very minor modifications were needed to get this in (see #301).

[2015-02-18 08:50] danfowler commented on #274
Mentioning #294 here to link the two issues.

As a New/Browsing Visitor, is it worth distinguishing too finely (e.g. "Starting", "Alpha", and "Beta")?  Should a periodic "project census" be scheduled to get a sense of each project's status?

[2015-02-18 09:01] danfowler commented on #217
Closing as the current site branding now seems fully aligned with Open Knowledge brand w/r/t logos, colors, etc.

[2015-02-18 09:01] #217 closed

[2015-02-18 09:16] danfowler commented on #68
This page is largely a wall of text.  Perhaps some pleasant images could encourage more people to join.

Code4SA has a nice call-to-action of [active GitHub issues](http://code4sa.org/#github-issues) right on their front page.

[2015-02-18 10:01] rgrp commented on #68
@danfowler great suggestions. Do you want to take this on?

[2015-02-19 09:51] danfowler commented on #282
Another benefit of this approach is that it searches tags and titles at the same time.

![screen shot 2015-02-19 at 11 48 21 am](https://cloud.githubusercontent.com/assets/772616/6264520/61a0dd72-b82d-11e4-8c9d-781ee0556fe3.png)

Willing to merge in today as it's pretty simple.  Does anyone want to test?

[2015-02-19 10:07] rgrp commented on #282
Go for it and merge - we can test on the site :-)

[2015-02-19 10:09] #282 closed

[2015-02-20 08:55] danfowler commented on #296
@swmerrill Here's the requested dump of product-open-data SQL: http://dfowler.sixbit.org/products.sql.gz

Excited to see this move forward!  Let me know what else you need.

[2015-02-20 09:23] danfowler commented on #274
In light of product-open-data: "Rebooting"?

[2015-02-20 10:10] danfowler commented on #223
OK, thanks to @mattrm I have access to the servers, and I added some actual info into the machines.yml file.  CSV output available as machines.csv and sysadmins.csv in the /about/sysadmin/ folder.  Couldn't think of a way to write correct json directly.

[2015-02-20 10:14] danfowler commented on #284
OK, with the last merge I think we have something here :smile:

[2015-02-20 10:14] #284 closed

[2015-02-20 13:36] swmerrill commented on #296
I downloaded the products.sql.gz file and tried to extract it.

However, tar gives me the message "This does not look like a tar file."

The file is in binary. But it is not in tar, zip or bzip2 format.

Any idea what format it is in?

Thanks.
Stan

On 02/20/2015 01:56 AM, Daniel Fowler wrote:

[2015-02-20 14:22] danfowler commented on #296
Hi Stan,

This file is just gzipped (as opposed to tarred and gzipped), so gunzip
alone should work to decompress.

Cheers,

Dan
On 20 Feb 2015 15:36, "swmerrill" <notifications@github.com> wrote:

[2015-02-20 17:13] swmerrill commented on #296
Thanks, Daniel. That worked fine. I gunzipped the file and read it into mysql with no problems. Once I got the site working, though, I found that there seems to be quite a bit of code missing from the github archive I downloaded. Do you know whether there is another archive?

[2015-02-20 18:11] danfowler commented on #296
Here is a much larger (3GB) archive of the site: http://dfowler.sixbit.org/product-open-data.com.tar.gz

Not sure about the exact contents, but this *is* tarred and gzipped, so the usual tar xzf will work.

[2015-02-20 18:29] mattrm commented on #296
product-open-data.com is the code, or more accurately a dump of the /var/www folder from the server that product-open-data was on.  product.sql is the SQL dump of the database.

Just to be clear, that's all we have.  The code doesn't seem to be version controlled and there are no docs accompanying it.  The sysadmin who setup the website has left OK.  The chap who wrote the code hasn't been able to

[2015-02-22 08:20] rgrp commented on #296
@mattrm i have some knowledge here so can help. We knew the core code was not version controlled though quite a bit of the other code is (see "product-*" repos under okfn).

Right now we are just looking to see if we can fix a minor bug and get the current site back up (it ran happily for 1y+). Next, we can get into the rewrite (which I think was what the django app was)

[2015-02-22 14:58] rgrp commented on #295
@mattfullerton ping :-)

Instructions on: http://okfnlabs.org/projects/add/ (it will take <= 5m)

[2015-02-22 15:05] rgrp commented on #284
@danfowler one minor thing - people images on badges page link to url with index.html in it. any way to get to base url e.g.

http://okfnlabs.org/members/mattfullerton/ vs http://okfnlabs.org/members/mattfullerton/index.html (we want the former)

[2015-02-22 15:13] rgrp commented on #278
@mchelen @danfowler next steps here? Let's get a summary proposal, review and then action ...

[2015-02-22 15:14] rgrp commented on #225
@pudo any thoughts? At this point shall we close this as wontfix?

[2015-02-22 15:14] rgrp commented on #223
@danfowler great work here. Do you think we can close as FIXED?

[2015-02-22 15:14] pudo commented on #225
Yep, sorry to crammed.

[2015-02-22 15:14] #225 closed

[2015-02-22 15:15] rgrp commented on #142
@mchelen @danfowler are you happy to take this forward? I think we are close to being able to close.

[2015-02-22 15:15] rgrp commented on #225
WONTFIX

[2015-02-23 08:43] mattfullerton commented on #295
Done
http://okfnlabs.org/projects/dataportals/

[2015-02-23 08:43] #295 closed

[2015-02-23 11:57] rgrp commented on #295
@mattfullerton i would also suggest having you down as the maintainer (or at least you and I). wdyt - all you need to do is add your userid to the maintainer field on that project.

[2015-02-24 10:27] mattfullerton commented on #295
Yes! I copied an existing project and that one had no maintainers so I forgot. Done now. Are we talking code maintainers here or site maintainers as well (I'm thinking of @schlos).

[2015-02-24 11:00] rgrp commented on #295
I think we can include site maintainers for sure and would love to include @schlos if he wanted to be listed

[2015-03-02 08:46] danfowler commented on #295
Adding screenshot...

![dataportals](https://cloud.githubusercontent.com/assets/772616/6437513/ffd4c264-c0d0-11e4-8cc2-f70b7a88444e.png)

[2015-03-02 18:52] schlos commented on #295
:+1:

[2015-03-03 09:09] danfowler commented on #296
OK, site is back up. I will see if I can commit the code at time of shutdown to the [original repo](https://github.com/okfn/product-browser-web).  Perhaps further discussion on immediate fixes and full rewrites can take place there?

[2015-03-03 11:22] danfowler commented on #223
Yes. FIXED.

[2015-03-03 11:22] #223 closed

[2015-03-03 13:20] #296 closed

[2015-03-04 09:41] mattfullerton commented on #295
@schlos - are you already listed as a member on the site?

[2015-03-10 13:32] danfowler commented on #142
Having added the contact info, moving to close.

[2015-03-10 13:32] #142 closed

[2015-03-12 07:20] danfowler commented on #198
@stefanw was this what you were thinking almost exactly this time last year?
![screen shot 2015-03-12 at 10 18 06 am](https://cloud.githubusercontent.com/assets/772616/6613656/3fe74aac-c8a1-11e4-9d49-f0336c7002a3.png)

[2015-03-12 10:15] stefanw commented on #198
I guess so, can't exactly remember. But looks sweet!

[2015-03-13 12:18] danfowler commented on #198
wdyt @loleg @andylolz @mchelen ?

[2015-03-13 12:48] rgrp commented on #198
I think its great :-)

[2015-03-15 09:21] danfowler commented on #198
great :)

[2015-03-15 09:33] loleg commented on #198
+1. À la hash tags, e.g. #perl

[2015-03-15 09:34] loleg commented on #198
Never mind saw they already are displayed in project detail. Permalinks to listings by type are a good thing so yes.

[2015-03-18 15:22] danfowler commented on #198
Cool.  Will merge.

[2015-03-18 15:36] #198 closed

[2015-03-19 11:59] danfowler commented on #198
For example: a link to projects where help is wanted and one of the languages used in Javascript: http://okfnlabs.org/projects/#helpwanted=true&language=javascript

[2015-03-21 09:21] rgrp opened #319 "GoodTables - do we want two separate projects listed?"
I wonder whether we want to have just one project listed on labs for goodtables covering both the lib and the web service.

/cc @danfowler @pwalsh

[2015-03-21 09:26] rgrp opened #320 "Labs Hangout 2015 No 1"
Someone just tweeted that they are looking forward to our next hangout and we have not had one yet in 2015: https://twitter.com/mehdisadeghii/status/578593730397077504

The structure is very simple and it can be anything from 30m to 1h: http://okfnlabs.org/events/hangouts/ (plus see previous tickets)

Who would be up for hosting / chairing the next one?

@loleg @danfowler @davidmiller @nickstennin

[2015-03-21 09:48] pwalsh commented on #319
Yes you are right: there should only be one. I'll fix it tomorrow.

[2015-03-21 13:05] rgrp commented on #294
@danfowler wdyt?

[2015-03-21 13:06] rgrp commented on #274
@danfowler I'm not sure about rebooting but it does make me think that maybe we improve helpwanted category to have e.g. "Maintainer Wanted", "Contributor Wanted" etc - i.e. clearer when something is missing an owner.

[2015-03-21 18:32] pwalsh commented on #319
https://github.com/okfn/okfn.github.com/pull/321#

[2015-03-22 14:47] loleg commented on #320
I would be happy to organise after next week. There are definitely some
exciting developments to talk about!

[2015-03-23 08:00] rgrp commented on #320
@loleg that's fantastic. My suggestion is either a weekend or a weekday evening around e.g. 5pm UK (as that way folks can join from Europe and US).

I've added a checklist of steps above in the issue that we can then walk through.

[2015-03-23 09:43] rgrp opened #322 "Newsletter Q1 2015"
Put together a simple newsletter of some of the latest developments.

* [x] Mail the list to ask for announcements
* [x] Quick scan of latest blog posts
* [x] Ping local groups to see if they have any interesting developments (RP?)
* [ ] Post the newsletter
* [ ] Tweet and ping the list!

@loleg @danfowler @davidmiller @markbrough @mchelen @teleyinex @pwalsh - who would be up for being the editor

[2015-03-23 10:03] loleg commented on #320
Let's Doodle: https://doodle.com/t5y9k6unr8uhu6mr \cc @rgrp @danfowler @davidmiller @nickstenning @markbrough @mchelen @teleyinex (let me know if you'd really like additional dates / alternate times)

[2015-03-23 11:20] danfowler commented on #319
Done.

[2015-03-23 11:20] #319 closed

[2015-03-23 12:07] danfowler commented on #294
Sounds good, I've been thinking of a way to display status to the user (possibly with an increasing bar or notch ending in :mortar_board:)

[2015-03-23 12:07] rgrp commented on #294
oooh - love the icon!

[2015-03-23 13:17] danfowler commented on #29
I think prose would be a great option in general, but even better for adding a project.  The appropriate additions to the _config.yml file can ease the creation of a project by providing an easy interface for adding common tags, etc.

[2015-03-23 13:20] danfowler commented on #294
Yeah, it's neat.  Just need to upgrade to the latest font-awesome to support.  Might be good to transition to Bootstrap 3 in the process as well.

[2015-03-24 06:56] pwalsh commented on #322
BTW, Open Australia are using Github to manage the creation of their monthly newsletters: [Repo](https://github.com/openaustralia/newsletter) [Contributing] (https://github.com/openaustralia/newsletter/blob/master/CONTRIBUTING.md) [Example](https://github.com/openaustralia/newsletter/blob/master/editions/2015-02.md)

[2015-03-24 08:12] danfowler commented on #29
Not ready for PR yet, but here is a prose interface for adding a project: http://prose.io/#danfowler/okfn.github.com/new/improve-this-page/projects/_posts

[2015-03-24 08:27] danfowler commented on #320
Cool.  I added my preference :)

[2015-03-24 12:55] #294 closed

[2015-03-24 13:36] danfowler commented on #287
Some have pretty direct new homes, so I can just fix those up and remove the rest.

[2015-03-24 13:38] danfowler commented on #274
@rgrp perhaps "Maintainer Wanted" and "Contributor Wanted" could fall under the typeofhelp attribute and we could provide those as suggestions in the project add page or a nice new prose.io GUI

[2015-03-24 21:20] rgrp commented on #274
+1 to that suggestion @danfowler

[2015-03-24 21:20] rgrp commented on #287
+1

[2015-03-24 21:21] rgrp commented on #322
@pwalsh great suggestion

[2015-03-25 09:11] danfowler commented on #287
Fixed.

[2015-03-25 09:11] #287 closed

[2015-03-25 09:54] danfowler commented on #278
1. [ ] generate PR based on these suggestions (I'm thinking "cog" for contributor, "comment" for forum commenter, and "code-fork" for website fixer.)
1. [ ] review and merge PR
1. [ ] brainstorm next steps to feed into new issue
    1. remove potentially redundant roles ("webmin")?
    1. thinking about workflow/interface for issuing/requesting a badge?
    1. think about what might make people *w

[2015-03-25 21:33] schlos commented on #295
hi @mattfullerton
Sorry for late reply. I missed somehow this.
No, I'm not yet listed as a member. What is the process?

[2015-03-28 12:16] danfowler commented on #295
hi @schlos you can add a new file to the [members/_posts directory](https://github.com/okfn/okfn.github.com/new/master/members/_posts) of the site following the template and naming scheme listed [here](http://okfnlabs.org/members/signup/).  Looking forward to merging!

[2015-03-30 23:48] todrobbins commented on #278
Have we already gathered use cases of other badge issuers? If not, I can work on a comparison of the varying issuers (School of Data, https://badges.webmaker.org/, etc.).

[2015-03-31 09:41] rgrp commented on #278
@todrobbins that would be great.

[2015-03-31 11:51] danfowler commented on #278
:+1:

[2015-03-31 14:19] rgrp commented on #320
@loleg i would also ping the list about this kind of thing if you want more responses. Also given timeline maybe worth adding some later dates. General point: I'd pick a late afternoon that works for you and just run with it - most people will make it or not once you have a time.

[2015-03-31 15:27] todrobbins commented on #278
Cool. I'll start my work on it.

[2015-04-01 14:34] pwalsh commented on #322
I'll edit, and I'd like to follow the pattern used by [Open Australia](https://github.com/openaustralia/newsletter) as linked above.

How do I ping local groups?

[2015-04-01 15:14] rgrp commented on #322
there is a slack channel. i think what we really want is a list of "local labs leads" in fact - i know this could be yak-shaving but i may try to recruit that for you now (cc'ing you on the email). Basic idea would be an email alias / list of folks (ultimately we would want them on okfnlabs.org/members - but let's not over-complicate)

[2015-04-01 16:10] pwalsh commented on #322
(FYI didn't get the cc)

[2015-04-01 16:56] danfowler commented on #320
@loleg sorry, I had to pull out of my chosen timeslot. pick a time, and I will try my best to make it :/

[2015-04-01 18:57] mchelen commented on #320
Weekends are best for me, otherwise I can see how well my phone does with
hangouts :)

On Wed, Apr 1, 2015 at 1:08 PM, Daniel Fowler <notifications@github.com>
wrote:

[2015-04-01 19:52] loleg commented on #320
@mchelen @rgrp @danfowler thanks for your date picks. I will be on IRC tomorrow at 4 PM UTC, and we can have a spontaneous Hangout if desired. Since there are few of us who have responded - plus some people are on holiday this week - I've expanded the poll to cover next Thursday and weekend. Apologies for making you do this twice: hopefully there is a day where at least 5 Labs members can join, at

[2015-04-01 21:04] rgrp commented on #320
@loleg tomorrow will be too short notice i think for most folks. To be clear the @'s here were just about possible organizers. The important thing is to ping the list and put this on twitter etc and allow at least a week's notice and do the step-by-step instructions. Done efficiently they won't take more than 10-20m but will greatly increase the impact of the call.

[2015-04-01 21:06] rgrp opened #329 "Get a list of "Local Labs Leads""
We want to have a nice list of contact points in all the local Open Knowledge Chapters and Local Groups.

Why?
- So we can get more inter chapter and inter group communication on tech stuff
- Get contributions to the newsletter - see e.g. #322
- Promote local projects and tools on labs, curate them in the projects list
- Share labs general tools and tech strategy

[2015-04-01 21:07] rgrp commented on #329
/cc @danfowler @mattfullerton (re de) @pwalsh (re australia) @stefanw (re de) @loleg (re CH) ...

[2015-04-02 06:15] pwalsh commented on #329
Sounds good: I wrote to the au list.

[2015-04-02 08:37] rgrp opened #330 "Project Pages seem to have a column issue"
At the moment for me on chrome on mac, the RHS column ends up below LHS column rather than beside it. See e.g.

http://okfnlabs.org/projects/nomenklatura/

/cc @danfowler

[2015-04-04 13:00] rgrp opened #332 "Clarify sysadmin strategy"
In particular, what do we offer and to whom and how do we sustain it?

2 distinct things:

- Experimental space (probably best to get a donated machine if we could)
- Permanent hosting for apps
  - For apps with small data or demand requirement we probably go with heroku or something free if we can
  - For bigger stuff what do we do? Need to research options. One idea is to buy a big machine and t

[2015-04-04 13:00] rgrp commented on #320
Suggestion for agenda in #332 (clarify sysadmin strategy)

[2015-04-04 14:16] danfowler commented on #332
Yeah, looking forward to talking about this on the call.  Another thing to think about is how to think about what a transition/graduation from "experimental" to "permanent" looks like.  Lots of things probably start out experimental, right?

[2015-04-06 07:32] mattfullerton commented on #329
I wrote to the German list of CodeForGermany lab leads. If no objections come back, I'll organize a list of all city-leaders.

[2015-04-06 11:17] danfowler commented on #330
@rgrp thinking about it, the Recent Project Activity will always show up toward the bottom because it's on a new Bootstrap "row". With the image restored, everything seems to be normal for me across Firefox, Chrome, and Safari (on Mac).

[2015-04-06 19:16] rgrp commented on #329
@mattfullerton sounds great - and are you happy to be the liason or would we email that list direct?

[2015-04-06 20:23] loleg commented on #329
Likewise, I have reached out to our community and will start a shortlist.

[2015-04-06 20:31] loleg commented on #320
I have picked **Thursday, April 16, 17:00** (Time zone: London) for the next Labs Hangout instead of continuing to nag on Doodle. If there are any objections, please voice them.

Rufus has suggested *sysadmin strategy* as a topic, which is definitely a hot topic we should all be aware of. I will also briefly share how I'm trying to increase the impact of our local hackdays (the key words are infra

[2015-04-07 02:34] danfowler commented on #320
@loleg works for me :)

[2015-04-07 03:24] pwalsh commented on #329
Same here with au: reached out and starting a shortlist.

[2015-04-07 06:31] mattfullerton commented on #329
@rgrp What exactly were you thinking? It should be no problem to email the list directly - codeforde-lab-leads@lists.okfn.org - my mail to them was more about whether they had anything against being listed as contact points for their cities, and, unsurprisingly, so far no one had anything against it.

[2015-04-07 06:32] mattfullerton commented on #320
Should work for me too. Good stuff.

On 7 April 2015 at 03:34, Daniel Fowler <notifications@github.com> wrote:

[2015-04-07 09:11] rgrp commented on #320
@loleg this is great. Are you happy to do the steps at the top of the issue such as pinging the list and getting an etherpad agenda? If you'd like help just flag!

[2015-04-07 11:18] rgrp commented on #332
Started adding info on sysadmin costs

[2015-04-07 12:04] loleg commented on #320
@rgrp I've updated the etherpad and having your okays, will ping the list. Wanted to update the site yesterday but got stuck in a git merge.. Everyone, please add your points to http://pad.okfn.org/p/labs-hangouts

[2015-04-07 15:58] pwalsh commented on #322
@rgrp I'll have some time over coming weekend to do some prep: I thought to:

* hard fork the OA newsletter repo (the acknowledge the idea)
* start collecting ideas there via issues

WDYT for repo: okfn/labs-newsletter

[2015-04-07 16:17] rgrp commented on #320
@loleg I've tweaked agenda and looks great. Let's start circulating and doing the very checkbox items :-)

[2015-04-07 16:21] rgrp commented on #322
@pwalsh do we need a separate repo - would be nice to keep it as part of this one given that we will post on this site as a blog post etc (or maybe i don't understand the OA newsletter process)

[2015-04-07 16:28] pwalsh commented on #322
No need: the flow there is: open an issue with a suggestion for inclusion, then a pull request for the newsletter notifies on the fact of inclusion and closes the issue.

Exact same thing could be done here: possibly using a "newsletter" label to identify as such.

[2015-04-07 16:31] rgrp commented on #322
@pwalsh sounds good and forge ahead!

[2015-04-07 16:32] rgrp commented on #329
@mattfullerton re liason would just be emailing and then passing stuff back or getting folks to add stories directly to the newsletter. Just means that e.g. newsletter does not have to join that list.

[2015-04-07 19:37] pwalsh commented on #322
Created a submission gist here: https://gist.github.com/pwalsh/09a2646bd00cd94e7f51

Can move this into the site later, as a newsletters page or something.

[2015-04-08 07:31] mattfullerton commented on #329
OK, happy to do that. May need to find someone else in the medium term, as
I'm not actually an OK Lab lead anymore, but still involved...
On 7 Apr 2015 5:32 pm, "Rufus Pollock" <notifications@github.com> wrote:

[2015-04-09 17:10] loleg commented on #320
@rgrp I had a (time) conflict to resolve, will send out invite tonight.

[2015-04-09 21:04] rgrp opened #333 "[newsletter Q2 2015] Core Datasets update"
Announce: http://okfnlabs.org/blog/2015/01/03/data-curators-wanted-for-core-datasets.html

35+ volunteers and leadership from super contributor @sxren

Most action takes place here https://github.com/datasets/registry/issues with datasets then appearing on http://data.okfn.org/data/

Contributors: @sxren @ekoner @bluechi @san2ho

New core datasets:

* http://data.okfn.org/data/core/media-types (@b

[2015-04-09 22:06] emanuelfeld opened #334 "[newsletter] New home for the Washington, DC data portal"
Washington, DC's data portal is now accessible on a new platform at http://opendata.dc.gov/. Old datasets are still accessible at http://legacy.data.dc.gov/ while they make the transition.

[2015-04-11 09:21] loleg commented on #320
Did you all get my invite? First attempt bounced, second got thru. Please
tweet & share & have a great weekend!

[2015-04-12 12:36] danfowler commented on #320
Got it :inbox_tray:

[2015-04-14 10:09] danfowler commented on #29
I think linking directly to the GitHub edit page is preferable at least for "Improve this page". Prose is a marginally nicer editing experience, but adds another layer between the editor and the edit he/she is trying to make. Plus, the user will have to authorize on GitHub before committing the edit anyway.

[2015-04-14 17:03] rgrp commented on #320
@loleg do email labs list with sign up link (etherpad) and tweet :-) Event is now only 2d away :-)

[2015-04-14 17:05] loleg commented on #320
I have, last week.. Will repeat and retweet.

[2015-04-14 17:07] rgrp commented on #320
yes! i always like the 2-2-2 rule: email 2w, 2d and 2h before the event :-)

[2015-04-16 14:34] danfowler commented on #278
For the next round: Data Curator and Managing Data Curator badges

[2015-04-16 14:38] schlos commented on #278
+1

[2015-04-16 17:08] rgrp commented on #278
+1

[2015-04-22 13:08] #29 closed

[2015-04-28 11:32] rgrp opened #342 "[Post] OED scan work and research on OCRing"
@tfmorris i've booted this issue to follow up discussion on last hangout. Was really exciting to hear about the progress and the research and would be great to get a short post about it. wdyt?

[2015-04-28 11:33] rgrp commented on #320
@loleg FIXED - though perhaps we want to circulate a follow up email with the notes (or even put up a short blog post with the notes from the meeting).

Also what about booting an issue for the next hangout (in May?)

[2015-04-28 12:07] loleg commented on #320
@rgrp I have circulated a mail but a blog post would need more work. I
would rather raise an issue for regular automated hangouts - the next one
is already planned.

[2015-04-28 12:33] rgrp commented on #320
@loleg great idea re issue for regular hangouts - plus we probably want to create some step by step by instructions anyone can follow.

[2015-05-02 20:32] rgrp commented on #342
@tfmorris any thoughts?

[2015-05-02 20:32] rgrp commented on #322
@pwalsh any update here - would be nice to ship ...

[2015-05-02 20:35] rgrp commented on #330
Think this may be an INVALID then. Have to say I'm not sure about activity appearing so far down. Not sure where would be better and that's a different issue.

Closing as INVALID.

[2015-05-02 20:35] #330 closed

[2015-05-02 20:36] rgrp commented on #320
@loleg are you going to open an issue for the next hangout (or series). I have to say I think one issue per hangout is sort of nice even if we split out the standard "tasks" somewhere as it makes it easier to track status.

[2015-05-03 00:22] loleg opened #345 "Labs Hangout #10"
Continuing from where we left off in #320 - it has been suggested that we meet regularly at monthly intervals.

Next virtual labs meet up: **May 14, 17:00 BST**

<a target="_blank" href="https://www.google.com/calendar/event?action=TEMPLATE&tmeid=NWwwa2s1MHY1azJtaDAwYXRzM3ZjMDYzazQgbGF2cm92c2t5QG0&tmsrc=lavrovsky%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_butto

[2015-05-03 00:22] loleg commented on #320
@rgrp #345

[2015-05-03 03:24] tfmorris commented on #342
Happy to write a blog post, but I wanted to get the preliminary processed
HTML pages on hosting for people to look at first.  Of course, when I
started on that, I wanted to fix up the text block merging code to perform
better -- and so it goes.

I need to get the next release of OpenRefine out the door, but I'll see if
I can get a blog post written in the next week.

[2015-05-03 05:40] pwalsh commented on #322
@rgrp yes I let it slip. So, let's aim to publish this Thursday 7th. You think we can still go with the Q1 theme, or too late?

[2015-05-03 06:27] pwalsh commented on #334
HI @emanuelfeld would you mind helping out by writing a short paragraph (3-4 sentences) to summarize the new platform?

[2015-05-03 11:54] rgrp commented on #342
Ah the yak-shaving problem ;-)

http://i.imgur.com/t0XHtgJ.gif

[2015-05-03 11:55] rgrp commented on #345
@loleg are you sure this 1700 GMT? Last time it was 1700 BST which is GMT 1600 ...

[2015-05-03 11:55] rgrp commented on #320
FIXED :-)

[2015-05-03 11:55] #320 closed

[2015-05-03 11:56] rgrp commented on #322
yes, let's go with Q1 and next one will be q2 ;-)

[2015-05-03 20:01] loleg commented on #345
@rgrp fixed, thx. Also calendar link added, pad updated and announce out.

[2015-05-05 09:34] nickstenning opened #347 "Transfer annotateit application to me"
Could you please transfer the Heroku annotateit application to me?

    heroku sharing:transfer -a annotateit nick@whiteink.com

[2015-05-05 10:16] rgrp commented on #347
@nickstenning are  you also happy to take responsibility for paying for the ElasticSearch backend etc?

[2015-05-05 10:36] nickstenning commented on #347
Yes. `sharing:transfer` will move billing to my account.

[2015-05-05 10:59] rgrp commented on #347
Will get on it. Need to add you as a collaborator first it seems.

[2015-05-05 11:10] nickstenning commented on #347
`sharing:add EMAIL` then `sharing:transfer EMAIL`.

[2015-05-05 11:35] rgrp commented on #347
should be done in next 30m

[2015-05-05 13:53] nickstenning commented on #347
I'm really struggling to understand how you've made something so simple so complicated. Could you please transfer me the fucking application that I pretty much exclusively maintain so I can... uh... maintain it?

[2015-05-05 13:59] nickstenning commented on #347
For what it's worth, I would probably have been able to hold my tongue if I felt there were even the slightest bit of common sense being applied here.

You removed my access to an application that only I maintain, because I left OKF. You didn't remove access for another administrator that has never worked for OKF.

You insisted that this be managed through an alternate sysadmin procedure, requirin

[2015-05-05 14:13] rgrp commented on #347
This was done when I said it would be done. I've checked again and re-run the transfer command.

[2015-05-05 14:13] #347 closed

[2015-05-05 14:14] nickstenning commented on #347
It wasn't done. It is now. Thank you.

[2015-05-05 14:16] rgrp commented on #347
I ran both those commands and only saw your message when I checked back here to close. And then re-ran. I am glad it is now resolved.

[2015-05-05 15:49] tfmorris commented on #347
Wow.  Just WOW!  Gives me a whole new perspective on the @hypothesis team, which, until now, I thought had its act together.

@nickstenning You do realize this is a public forum, right?

[2015-05-05 16:08] nickstenning commented on #347
I am well aware that this is a public forum. Thanks for your contribution to this issue. We over at Hypothesis have our act together plenty, thank you very much.

[2015-05-05 19:51] emanuelfeld commented on #334
@pwalsh how's this?

Washington, DC's data catalog has a new home: http://opendata.dc.gov/. It operates on the ArcGIS Open Data platform and houses data relevant to city services in a variety of formats and with built-in APIs. The service is run out of the DC Office of the Chief Technology Officer, who have been quite responsive to issues and requests. You can give them a shout on Twitter as @open

[2015-05-05 19:56] pwalsh commented on #334
@emanuelfeld that is great. thanks for that.

[2015-05-08 08:02] rgrp opened #348 "Investigate getting donated VMs and other tech resources"

[2015-05-08 12:59] pwalsh commented on #334
Hi @emanuelfeld I've added this to the newsletter. See it here: https://github.com/okfn/okfn.github.com/pull/346

Hopefully we'll publish today. Fee free to comment on the pull request.

[2015-05-08 12:59] #334 closed

[2015-05-08 13:00] pwalsh commented on #333
Added to https://github.com/okfn/okfn.github.com/pull/346

Hopefully we'll publish today. Fee free to comment on the pull request.

[2015-05-08 13:00] #333 closed

[2015-05-08 13:01] pwalsh commented on #322
Draft (ready for publication unless others want to add/edit) is here: https://github.com/okfn/okfn.github.com/pull/346

[2015-05-09 11:00] rgrp commented on #345
@loleg can we run this as a hangout on air via the Open Knowledge account (that way it ends up in the Open Knowledge youtube channel). I can set this up now and also get you added as a manager of the google plus account so you can manage and do this in future.

[2015-05-09 12:13] loleg commented on #345
That's fine, sure.

[2015-05-13 10:54] rgrp commented on #345
@loleg I would like to suggest we merge the OpenSpending community hangout into the Labs one as they have both been scheduled at the same time - http://community.openspending.org/2015/05/openspending-community-hangout-revised-date-thursday-14th-may/

All this would mean is a short < 10m slot for Anders Pedersen of NRGI to update re open data and extractives. I think this would be interesting to ev

[2015-05-13 10:56] loleg commented on #345
+1, great suggestion.

[2015-05-13 13:27] rgrp commented on #345
@loleg do we need to update the etherpad with the new event link and also do we want to update http://okfnlabs.org/events/hangouts/ (i guess we probably want a more automated process for updating that ...)

[2015-05-13 15:49] loleg commented on #345
Is there a new event link? We could add an Embed widget
<https://support.google.com/plus/answer/2660854?hl=en> to the page.

[2015-05-13 22:24] rgrp commented on #345
@loleg as per https://github.com/okfn/okfn.github.com/issues/345#issuecomment-100465313 here's the event under the Open Knowledge account https://plus.google.com/b/112608652597658788737/events/cvip1l3kgr5uqogjf6r6sk9fcvg

You should have admin access by tomorrow - if not I can run - but we need to update the pad with that and advertise it again to the list and the pad link to twitter.

[2015-05-19 09:29] rgrp commented on #329
This is nearly done. My spreadsheet now has 22 contacts for 21 local groups including:

Open Knowledge Egypt
Open Knowledge Bangladesh
Open Knowledge Italy
Open Knowledge Canada
Open Knowledge Russia
Open Knowledge Korea
Open Knowledge El Salvador
Open Knowledge Australia
Open Knowledge Australia
Open Knowledge Japan
Open Knowledge India
Open Knowledge Switzerland
Open Knowledge Ireland
Open Knowl

[2015-05-19 09:30] rgrp commented on #329
FIXED.

@pwalsh / @loleg we can use this when announcing future newsletters and hangouts.

[2015-05-31 22:28] rgrp commented on #322
@pwalsh can we close this as fixed with link to published newsletter?

[2015-05-31 22:29] rgrp opened #349 "Newsletter Q2 / Q3 2015"
Regular labs newsletter - this time for Q2/Q3 2015.

Please add your suggestions below or as per usual process: http://okfnlabs.org/newsletter.html

@danfowler is acting as editor.

[2015-06-01 04:03] pwalsh commented on #322
fixed: http://okfnlabs.org/blog/2015/05/11/newsletter.html

[2015-06-01 04:03] #322 closed

[2015-06-01 04:05] pwalsh commented on #349
Submission process is here: http://okfnlabs.org/newsletter.html

I can edit again.

[2015-06-02 07:42] mlandauer opened #350 "Follow morph.io post - what's happened in the last year?"
If I was to write a follow up post to http://okfnlabs.org/blog/2014/03/22/morph.html, on what's happened in the last year, all the weird and wonderful things that people are scraping, over 2000 users and over 2000 datasets liberated, etc...

Would this be of interest?

[2015-06-02 17:07] rgrp commented on #350
@mlandauer that would be great! Please pull request away!

[2015-06-10 04:19] rgrp commented on #345
FIXED. @loleg can we post the link to the hangout on air video (or even embed it!) on http://okfnlabs.org/events/hangouts/

[2015-06-10 04:19] #345 closed

[2015-06-10 04:20] rgrp commented on #345
@loleg also can you boot the issue for the next hangout - even if you can't do it i'm sure we can find a volunteer if we ask ...

[2015-06-10 04:21] rgrp commented on #342
@tfmorris any update?

[2015-06-10 04:22] #329 closed

[2015-06-10 04:22] rgrp commented on #278
@danfowler can we close this and open an issue for remaining items?

[2015-06-15 02:25] rgrp opened #351 "Access to Open Knowledge Chrome Webstore for Labs sysadmins (and others)"
I started work on this to get @aliounedia access but stalled because some complexity about how to do this. Need to get back on this.

[2015-06-15 22:18] loleg commented on #345
@rgrp the past few days have been rather intense and this week I'm going to
be very hard pressed to make it to the Hangout. would pushing it forward to
next week be an option anyone besides me would appreciate?

On Wed, Jun 10, 2015 at 6:20 AM Rufus Pollock <notifications@github.com>
wrote:

[2015-06-16 00:21] rgrp commented on #345
Sure - let's do it. Let's push to next week - or even the week after (first week of July) - which is better for me.

[2015-06-16 05:04] mattfullerton commented on #345
+1
On 16 Jun 2015 2:21 am, "Rufus Pollock" <notifications@github.com> wrote:

[2015-06-27 01:32] rgrp opened #352 "Nice small OS logo on every page at top"

[2015-06-30 05:44] danfowler commented on #278
Yes.

[2015-06-30 05:44] #278 closed

[2015-06-30 06:08] danfowler commented on #352
Is this in addition to the OpenSpending logo at the bottom?

[2015-06-30 06:59] #164 closed

[2015-06-30 07:00] danfowler commented on #350
:+1:

[2015-06-30 09:44] danfowler opened #354 "New Badges Round 2"
Next steps following up on https://github.com/okfn/okfn.github.com/issues/278
- remove potentially redundant roles ("webmin")?
- thinking about workflow/interface for issuing/requesting a badge?
- think about what might make people want to earn a badge?
- integrating with discuss.okfn.org?
- New Badges:
  - Data Curator
  - Managing Data Curator badges

[2015-06-30 09:45] rgrp commented on #278
@danfowler can you link the new issue for remaing itesm - really useful for people who read to end of here.

[2015-06-30 09:45] rgrp commented on #354
Also additional badges like:

Data Curator and Managing Data Curator badges

[2015-06-30 09:45] rgrp commented on #352
Yes :-)

[2015-07-03 08:15] loleg opened #355 "Labs Hangout #11"
Continuing from where we left off in #345 - we didn't manage to get to meet in June, so this is a proposal for a July Hangout.

Next virtual labs meet up: **Thursday, July 16, 17:00 BST**

Sign up and suggestions for topics please via https://pad.okfn.org/p/labs-hangouts

[2015-07-04 13:49] danfowler commented on #355
Hi, I'll be able to join these again once I'm back in a reasonable timezone next month.

[2015-07-08 10:44] rgrp commented on #355
@loleg can i suggest we boot a forum topic for the hangout - https://discuss.okfn.org/c/open-knowledge-labs

Benefit of forum topic is:

- have a nice perma url that is shareable
- markdown support
- people can comment if needed
- you can do things like embed the youtube clip afterwards

Here's an example of how we set it up: https://discuss.okfn.org/t/tech-hangout-june-2015/357 (obviously youtube

[2015-07-08 11:02] rgrp commented on #352
Sorry - i realize i opened this on the wrong repo - should be on the openspending/dotorg repo!

[2015-07-08 11:02] #352 closed

[2015-07-09 08:16] loleg commented on #355
Good idea, I can set that up on the weekend.

[2015-07-13 08:58] loleg commented on #355
Done: https://discuss.okfn.org/t/tech-hangout-july-2015/472

[2015-08-10 10:07] rgrp commented on #355
FIXED. This hangout sort of happened (only a few people were able to come). Looking forward to the next one (August or September)

[2015-08-10 10:07] #355 closed

[2015-08-10 12:13] danfowler commented on #153
Closed by 685a004ed58009bc1904afa24a96ca1047110fc5

[2015-08-10 12:13] #153 closed

[2015-08-12 09:41] rgrp opened #358 ""Get involved" info on project pages"
Project with "helpwanted" should have a section in their readme detailing how to get involved examples of projects that could have this:

* http://okfnlabs.org/projects/dataportals/
* Core datasets (is this a project - or is this just part of frictionless data)
* froide (?)
* ...

[2015-08-12 23:27] acorbi opened #359 "[newsletter] My experience building a 100% Open Source based Open Data platform"
LINK: http://www.open-steps.org/my-experience-building-a-100-open-source-based-open-data-platform/

DESCRIPTION: Alex Corbi shares his experience participating in the development of the www.opendevelopmentmekong.net project, a platform built using 100% Open Source technologies whose aim is to increase transparency in the South Asian countries of the Mekong basin region. The article focuses on its

[2015-08-14 08:08] danfowler commented on #359
Thanks for sharing! We'll get this in to the next newsletter :).

[2015-08-18 20:26] mollycaitlin opened #361 "Open Film Helsinki [newsletter]"
http://www.48dayfilm.com/en/

Open culture is in action in Helsinki! An independent production company is making an "open film" called "Night Goes Long" and based on "Le Petit Prince," which went into the public domain this year. It is a feature film being filmed in 48 days. Each stage of production will be totally open and involve audience participation. Audiences have been able to help scout loc

[2015-08-19 09:23] danfowler commented on #155
This was covered here @tlevine, no? http://okfnlabs.org/blog/2013/12/25/parsing-pdfs.html

[2015-08-19 09:29] rgrp commented on #155
@danfowler @tlevine's article was a great specific walkthrough - like a tutorial. This was more of a "complete" review of the tools out there so I think a bit different. We should finish the pad and then post :-)

[2015-08-19 13:23] tlevine commented on #155
Indeed mine references only like half of the things you mention.

ScraperWiki have a proprietary PDF reader that they say is quite good.

On 19 Aug 02:29, Rufus Pollock wrote:

[2015-08-20 07:58] andylolz commented on #155
Good point – I’ve added that to the proprietary list.

[2015-08-21 14:46] flowsta commented on #349
http://okfnlabs.org/newsletter.html doesn't work, 404

[2015-08-21 14:47] flowsta commented on #349
We are relaunching http://www.historiasdelgasto.org, I would like to ask about hostings for this and other projects we are involved, can you help us?

[2015-08-21 14:57] danfowler commented on #349
@flowsta sounds great! can you try submitting now?

[2015-08-24 13:38] noelmas opened #363 "Make Recline Data Explorer charts embeddable"
Would be great to see the charts from some of the core Data Package datasets being embedded in Wikipedia pages and elsewhere e.g. http://data.okfn.org/data/core/finance-vix

[2015-08-27 09:41] rgrp opened #364 "Suggestions for projects to "feature" for help wanted"
These should combine:

* Being useful
* Being in state where contribution will be useful (e.g. already partially built)
* A maintainer who can assist contributors
* Having some well-defined (and bite-sized tasks)

Suggestions

* Core Datasets (we probably need a dedicated project page for this ...)
* Frictionless Data tools
* Webshot
* DataPortals
* Froide
* ...

For a project to be featured on he

[2015-08-27 09:41] rgrp commented on #364
/cc @danfowler

[2015-08-28 05:45] mattfullerton commented on #364
:+1:

[2015-08-31 17:18] rgrp opened #365 "Email Tech Contacts about missing members in South America"
Look at the map http://okfnlabs.org/members/ :-)

But I know there are lots of cool hackers in South America!

[2015-08-31 17:18] rgrp opened #366 "Make tech contacts we got into a group / badge on discuss.okfn.org"

[2015-08-31 17:25] rgrp opened #367 "Reboot / re-recruit for labs roles"
These are all volunteer roles supported by Labs community manager at Open Knowledge International

* [ ] define roles
* [ ] prioritise
* [ ] recruit

## General Points

* 6m or 1y term

## Roles

### Leads and Management Team

* Leads: You are the "chair" of Labs, responsible for team meetings and getting its job done
* Team: ...

Activities

  * Manage and direct resources
  * Run hangouts
  * In

[2015-09-02 09:11] danfowler commented on #366
Where do tech contacts come from?  Should the group just be called Labs?

[2015-09-02 10:02] rgrp commented on #366
@danfowler this is in the spreadsheet we collected of local group tech contacts - remember in #329

[2015-09-02 10:23] danfowler commented on #366
Found it.

[2015-09-03 10:06] flowsta commented on #349
hi @danifowler, what do you mean?

[2015-09-03 12:06] danfowler commented on #349
Oh, is information about the relaunch of historiasdelgasto.org and requests for help your newsletter submission.

[2015-09-04 08:19] flowsta commented on #349
sure @danfowler I'm going to request for summary to project leader. The project was online with database connection error and the first step was to fix that, now we have to figure out how to relaunch it properly http://www.historiasdegasto.org

[2015-09-04 08:50] flowsta commented on #349
@danfowler deadline?

[2015-09-04 09:32] danfowler commented on #364
I can trial this out with http://product-open-data.com/

[2015-09-04 11:33] danfowler commented on #349
I haven't yet decided when we'll publish the next newsletter, so none yet :smile:

[2015-09-05 15:49] rgrp commented on #367
/cc @danfowler @markbrough @jgkim @davidmiller  ...

[2015-09-07 09:56] davidmiller commented on #367
@rgrp Great starting point!
+10 to this initiative :)

Short-med term wouldn't have bandwidth for anything other than Advisory Group I suspect.

[2015-09-07 17:42] danfowler commented on #366
Done. https://discuss.okfn.org/badges/111/local-labs-coordinators

[2015-09-07 17:42] #366 closed

[2015-09-07 17:51] danfowler commented on #365
This was done via discuss.okfn.org :email: .

[2015-09-07 17:51] #365 closed

[2015-09-08 02:40] jgkim commented on #367
@rgrp +1 (maybe 10 ;)) to this initiative.

[2015-09-08 09:58] rgrp commented on #367
@jgkim great stuff - would you be interested in participating in some capacity :-) ?

[2015-09-09 09:33] jgkim commented on #367
@rgrp not 100% sure, but maybe a member of the management team or the advisory group? of course, if I'm qualified. ;)

[2015-09-14 09:15] rgrp opened #369 "[Project] List metametrik in list of projects"
@mk270 would you be up for listing it?

/cc @guoxu

[2015-09-14 10:38] writeosahon opened #370 "[newsletter] - Bringing Open Data to the Mobile Platform"
Hello OKFN.
Below is my submission for the OKFN Labs newsletter.

**Here is a link to the project :** http://odc.utopiasoftwareonline.com/
**Project/App on Google PlayStore:** https://play.google.com/store/apps/details?id=writeosahon.utopiasoftware.odcompanion

**Description:** Open Data Companion (ODC) provides a unified access point to over 120 CKAN open data portals and thousands of datasets fr

[2015-09-14 10:43] danfowler commented on #349
@flowsta I'd like to get this ready by the end of this week.

[2015-09-14 18:05] juanortizfreuler opened #371 "[newsletter]"
Title: Supply and Demand of data through Mexico's new Open Data Portal

A link: https://es.scribd.com/doc/274622757/Supply-and-Demand-of-Data-Through-Mexico-s-Open-Data-Portal

The report, written in non-technical language, provides the reader with contextual data to understand the challenges the government of a developing country is facing in the implementation of an Open Data Portal. The report

[2015-09-15 07:09] danfowler commented on #371
Excellent!  Thanks for the contribution!

[2015-09-15 07:09] danfowler commented on #370
Thanks!

[2015-09-16 11:24] mk270 commented on #369
sorry - am in hospital atm. Ask in a week or two

[2015-09-19 10:24] flowsta commented on #349
@danfowler don't worry about it, there is something wrong with the server and they are trying to solve it, it would be better to let it unpublished

[2015-09-20 11:14] Starl3n opened #372 "[newsletter]"
Hiya,

Not sure if this is relevant for the labs newsletter, but maybe?

The info I've seeded in the discussion here:
https://discuss.okfn.org/t/is-there-a-model-for-frictionless-science/1203

Cheers,
Steven

[2015-09-21 15:48] danfowler opened #373 "Specify front-matter defaults to simplify metadata"
By setting some proper front matter defaults in _config.yml, the needed metadata for a blog post or project post can be cut down somewhat.  E.g. layouts can be set for all blog posts or project posts at once.

https://jekyllrb.com/docs/configuration/#front-matter-defaults

[2015-09-28 13:40] danfowler commented on #372
Thanks, added.

[2015-09-28 13:40] #372 closed

[2015-09-28 13:40] #371 closed

[2015-09-28 13:40] danfowler commented on #370
Thanks for the contribution.

[2015-09-28 13:40] #370 closed

[2015-09-28 13:42] danfowler commented on #361
Sorry, this wasn't quite within the bounds of the Labs newsletter.  Perhaps you can check out our more general [discussion forum](https://discuss.okfn.org/)?

[2015-09-28 13:42] #361 closed

[2015-09-28 13:43] danfowler commented on #359
Added.

[2015-09-28 13:43] #359 closed

[2015-09-28 13:43] danfowler commented on #349
Published.

[2015-09-28 13:43] #349 closed

[2015-10-13 09:23] danfowler opened #374 "Newsletter Q4 2015"
The next iteration of our regular labs newsletter needs your suggestions! Publish date early December.

Please add your suggestions below or as per usual process: http://okfnlabs.org/newsletter/

![images duckduckgo com](https://cloud.githubusercontent.com/assets/772616/10450780/270564e4-71a5-11e5-9260-f39391fb0c19.jpeg)

List of current submissions [here](https://github.com/okfn/okfn.github.com/i

[2015-10-23 13:46] onyxfish opened #377 "[newsletter] Agate, the Python data analysis library for humans, has reached version 1.0"
"agate is a Python data analysis library that is optimized for humans instead of machines. It is an alternative to numpy and pandas that helps you solve real-world problems with readable code."

http://agate.readthedocs.org/

(someone suggested I submit this a while back, but I've only just reached 1.0, so I'm doing it now.)

[2015-10-23 13:55] danfowler commented on #377
@onyxfish Looks excellent!  Will definitely get this in.  Interested in writing a post to announce 1.0?  :wink:

[2015-10-23 13:58] onyxfish commented on #377
@danfowler Thanks! I'm already writing an announcement post for the folks at Source. I'd be happy to blurb and cross-link or something if you're interested.

[2015-10-23 14:09] danfowler commented on #377
@onyxfish excellent! do give a ping :smile:

[2015-10-27 13:38] onyxfish commented on #377
@danfowler Here's the link! https://source.opennews.org/en-US/articles/introducing-agate/ Let me know if there is anything else you need!

[2015-10-27 14:19] danfowler commented on #377
@onyxfish :+1:

[2015-11-02 09:17] danfowler opened #379 "[newsletter] webshot improvements"
https://github.com/okfn/webshot/issues

[2015-11-02 11:49] danfowler opened #380 "Fix Labs member map"
Switch to Nominatim

http://wiki.openstreetmap.org/wiki/Nominatim

[2015-11-03 09:12] danfowler opened #381 "[newsletter] Tuttle: A tool for collaborating on datapackages"
https://discuss.okfn.org/t/a-tool-for-collaborating-on-datapackages/1397

[2015-11-06 18:59] davbre opened #382 "[newsletter] Mira, simple HTTP APIs for your CSV files"
[https://github.com/davbre/mira](https://github.com/davbre/mira)

This is a small application developed using Ruby-on-Rails. You upload a datapackage.json file to it along with the corresponding CSV files and it gives you a read-only HTTP API. It's pretty simple - it uses the metadata in the datapackage.json file to import each CSV file into its own database table. Once imported, various API endpo

[2015-11-09 08:34] danfowler commented on #382
Thanks for your submission! Will definitely get this in. :smile:

[2015-11-11 08:37] danfowler opened #383 "[project] Add Linked Open Vocabularies project page"
http://lov.okfn.org/dataset/lov/

@pyvandenbussche would you be up for this?

[2015-11-19 09:01] #380 closed

[2015-11-19 09:27] danfowler commented on #367
@jgkim @davidmiller still interested?

[2015-11-19 12:49] jgkim commented on #367
@danfowler I don't have much time at the moment, but my answer is still "yes."

[2015-11-19 15:14] danfowler commented on #382
@davbre looking at this again, three things come to mind:

- Would you actually be interested in also listing this as a project (http://okfnlabs.org/projects/add) and maybe even writing a short blog post (http://okfnlabs.org/blog/add/) on our site?
- I noticed that you work in the pharmaceutical industry and that some of your examples for mira used clinical trial data.  Are you familiar with the O

[2015-11-20 06:58] davbre commented on #382
@danfowler

Sure, I'll add the project, perhaps over the weekend. When I find some time
I might add a blog post. Regarding Open Trials, thanks for the link. I was
vaguely familiar with it - it looks like it's worth a revisit ;) As for
getting involved, yes I suppose I could in some small capacity or other. I
saw somewhere that you lot organise hangouts. I could participate in one of
those, and we

[2015-11-20 07:28] danfowler opened #384 "Labs Hangout #12"
Details on the Open Knowledge Labs [discussion forum](https://discuss.okfn.org/t/tech-hangout-november-2015/1588).

[2015-11-23 17:25] rgrp commented on #382
@davbre this is *awesome* :-)

[2015-11-24 08:30] danfowler commented on #384
Thanks for joining everyone!

[2015-11-24 08:30] #384 closed

[2015-11-24 08:34] danfowler opened #386 "Labs Hangout #13"
Placeholder for the next Hangout.

Discussion Forum Topic: https://discuss.okfn.org/c/open-knowledge-labs (update when closer to date)

Sign up and suggestions for topics please via https://pad.okfn.org/p/labs-hangouts

[2015-11-30 20:10] rgrp opened #388 "[Project] Open licenses database"
https://github.com/okfn/licenses - note this is being evolved right now to be a DB only the frontend part will be in https://github.com/okfn/opendefinition

[2015-12-01 10:40] rgrp opened #389 "Move help.datahub.io to the forum"
* [x] Create DataHub category under labs
* [x] Create a a topic in that category replicating existing instructions
* [x] Implement redirect from current links in datahub.io to that topic
* [x] move over any relevant content (e.g. KB articles) - if needed

Bonus points:

* deprecate blog.datahub.io and move posts to okfnlabs.org and implement redirect

[2015-12-01 12:08] danfowler commented on #367
As a follow-up to our hangout last week ([pad here](https://pad.okfn.org/p/labs-hangouts)), it looks like we have a team forming:

* @davbre
* @davidmiller (advisory group)
* @jgkim (advisory group)
* @loleg (I assume you are still keen to remain as a lead)
* @mattfullerton (you too :)
* @pdehaye (core datasets managing curator)
* (me)

Do I have this right?  @flowsta are you interested in contrib

[2015-12-01 12:47] danfowler opened #390 "Reboot datapatterns"
See issue here: https://github.com/okfn/datapatterns/issues/73 and https://github.com/okfn/ideas/issues/76

@todrobbins @seralf what do you think of the current state of http://datapatterns.org/.  Are either of you interested in being a maintainer?

Once we're satisfied, we can [add as a Labs project](http://okfnlabs.org/projects/add/) :).

[2015-12-01 13:58] andylolz commented on #367
I do thanks! Will start hacking in earnest on [data pipes](http://datapipes.okfnlabs.org/) in the next week or so.

[2015-12-01 16:53] todrobbins commented on #390
I'm interested in maintaining. Currently, I'm a bit overwhelmed, but am willing to work with anyone (including @seralf) to keep the project alive.

[2015-12-01 18:15] seralf commented on #390
I can contribute if needed, even if I'm not the faster contributor at the
moment, certainly :-)

2015-12-01 17:54 GMT+01:00 Tod Robbins <notifications@github.com>:

[2015-12-01 23:32] flowsta commented on #367
@danfowler  Yes, I am interested in contributing! I'll take a look to your suggestions

[2015-12-02 07:35] danfowler commented on #389
Topic created: https://discuss.okfn.org/t/creating-a-dataset-on-the-datahub/1627

@amercader can you assist with the final step in somehow linking "help" on datahub.io to https://discuss.okfn.org/c/open-knowledge-labs/datahub

[2015-12-02 08:19] danfowler opened #391 "[newsletter] Renewed activity in the Datasets registry"
Thanks to @pdehaye, the new core datasets managing curator :).

https://github.com/datasets/registry/issues

[2015-12-02 08:28] rgrp commented on #389
@danfowler I'm suggesting we do a redirect of help which would mean this would not be required to mess with datahub.io - it can just keep linking and we do the redirect.

[2015-12-02 08:29] rgrp commented on #389
@danfowler this could have been a good one for another member of labs - do we have any folks you can start @-ing in these issues and inviting to participate - they can always say they are busy so i think no imposition to invite.

[2015-12-02 08:59] danfowler commented on #389
@rgrp yeah, I realized that after I started :/.  Will definitely start doing this.

[2015-12-02 09:00] pdehaye commented on #388
This is related to datasets/registry/#118

[2015-12-02 09:03] pdehaye commented on #391
I am hoping I can flag some good examples that are ready to package and "easy", by the time of the newsletter, and can help onboard some people that way. First up: Big Mac index.

[2015-12-02 09:07] danfowler commented on #391
@pdehaye Excellent :+1:

[2015-12-02 09:12] danfowler commented on #374
@jwieder I've read your blog a bit, and I think you're a good writer.  Would you be interested in helping put this together?

[2015-12-02 09:18] amercader commented on #389
@danfowler let me know if you need to do something on the datahub side

[2015-12-02 11:54] jbenet commented on #367
@danfowler thanks! happy to talk about ipfs and whatever is relevant/useful. :+1:

[2015-12-02 14:07] danfowler commented on #390
@todrobbins @seralf thanks guys, I totally understand. I pushed it along a bit.  I think the biggest thing that needs doing is just a little bit of file [restructuring](https://github.com/okfn/datapatterns/issues/79).

[2015-12-02 14:19] danfowler commented on #386
Cool, so we have a special guest: @jbenet (see: https://github.com/okfn/okfn.github.com/issues/367#issuecomment-161270855).

Can I invite any of you (@davbre @davidmiller @jgkim @loleg @mattfullerton @pdehaye) to arrange and host?

[2015-12-02 16:00] jwieder commented on #374
Hey Daniel -
    Sure! Did you have something specific in mind that I could help with?
     I've been wanting to be more active with OKFN, but the holidays this year completely blind-sided me - its been nuts. Thankfully, I've got a little breathing-room now until the Christmas/Hannukah rush.
Josh Wieder

[2015-12-02 18:18] todrobbins commented on #390
I'll get on that ASAP.

[2015-12-02 18:23] todrobbins commented on #390
@danfowler can you add me as a team member?

[2015-12-02 20:42] todrobbins commented on #390
Thanks for the add @danfowler!

[2015-12-02 20:43] danfowler commented on #390
:sunglasses:

[2015-12-03 17:48] rgrp opened #392 "Create a design "project" where we store info about our design approach and assets"
Suggest creating https://github.com/okfn/design (or similar) deploying to gh-pages at http://okfnlabs.org/design/

This is the place to go to find out about:

* Style guides
* Generic themes for:
  * jekyll e.g. https://github.com/okfn/handbook-theme
  * wordpress
  * ...
* Key design assets

...

[2015-12-03 18:34] todrobbins commented on #392
:+1: a pattern library/style guide would be great. See also: https://github.com/davidhund/styleguide-generators#user-content-jekyll

[2015-12-04 08:55] danfowler commented on #392
:+1:

[2015-12-04 10:19] danfowler commented on #374
@jwieder Perfect timing then!  The newsletter task is fairly straightforward.  Collect all the [submissions](https://github.com/okfn/okfn.github.com/issues?utf8=%E2%9C%93&q=%22[newsletter]%22+is%3Aopen+) and compile them into a newsletter post (e.g. http://okfnlabs.org/blog/2015/09/28/newsletter.html), filling in any gaps (e.g. intro, outro, etc.).  I can help with anything :).

[2015-12-04 10:57] danfowler commented on #389
@amercader thanks. I think all you should do for now is watch [that topic](https://discuss.okfn.org/c/open-knowledge-labs/datahub/) on discuss.okfn.org.  Are you OK receiving support requests there?

[2015-12-04 11:26] rgrp commented on #389
@danfowler to be clear we would *really* like to get to a place where it is not @amercader who is creating organizations etc for people i.e. we really want to find another datahub admin (even you for the present) who can do what is necessary (which would mean that @amercader would not need to watch stuff ;-) ...)

[2015-12-04 11:26] danfowler commented on #389
@rgrp totally understood :)

[2015-12-04 11:31] amercader commented on #389
Just to be clear I haven't been personally creating orgs on Datahub for a while now, as I assumed that was done by somebody else (maybe you @danfowler?). I only acted on the actual issues reported like failing uploads, API problems, etc, most caused by the migration to cloud.
I'm monitoring the discourse thread and will keep an eye on major issue like the ones mentioned but I'm afraid I don't have

[2015-12-04 11:51] danfowler commented on #389
@amercader I have been creating orgs, I meant for the actual issues :)

[2015-12-04 12:37] amercader commented on #389
@danfowler you are the man :sunglasses: cheers

[2015-12-04 13:25] jwieder commented on #374
Great I will get started keep you posted.

Josh Wieder

[2015-12-04 13:25] danfowler commented on #374
Thanks! :+1:

[2015-12-04 16:03] jwieder commented on #374
Hey @danfowler - I am copying + pasting what I came up with in the post below. I'm happy to make changes based on your suggestions for tone or if I completely missed the boat on one of the topics. I have 3 questions:
   1. For the topic re: the implementation of an organizational structure, it wasn't clear what your title or the title for davbre would be.
   2. I have a few images I would like to

[2015-12-04 16:12] jwieder commented on #374
# Labs newsletter: Q4 2015

Hey there hackers & hackettes! Welcome to the 4th quarter 2015 OKFN Labs Newsletter: A Very Special Holiday Edition of the OKFN Labs Newsletter. We hope that all of our readers, volunteers, team members & contributors have a great holiday season. Labs is doing our part to keep things festive:

	![Holiday computer](xmas-computer.jpg)

Despite the hustle and bustle of the

[2015-12-04 16:39] todrobbins opened #393 "Interest in reviving dev on BibJSON/BibServer"
Since [BibJSON](http://okfnlabs.org/bibjson/) was added to the OKFN Labs site via #271, not much has occurred in relation to the project. Although, recently I floated the idea of reviving dev work on the new-ish https://digitalhumanities.slack.com/ channel `#bibliography` and there is interest.

I'd be happy to serve as team lead, and help get this off the ground again. Any recommendations of how

[2015-12-04 16:58] todrobbins commented on #391
Nice work @pdehaye!

[2015-12-04 19:57] danfowler commented on #393
Super news!  Thanks Tod.  To your second question, I've made you a mod on Discourse, which should give you the powers to make a new sub-category under `open-knowledge-labs`.

[2015-12-04 22:36] danfowler commented on #374
:star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star:
:star: :star: This is spectacular :).  You really made my day! :star: :star:
:star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star: :star:

Tone is great :).  Small images can go in the repo.  I can fill in role details.  For publishing,

[2015-12-04 22:53] pdehaye commented on #374
"For example, a thread has been created listing a need to add a utility that provides a Big Mac Index."
-->
"For example, a thread has been created for the Big Mac Index dataset."

"If you want to help out, but aren't sure how to start or you're having trouble, leave a comment on the relevant thread." --> "If you want to help out, but aren't sure how to start or you're having trouble, browse the [

[2015-12-04 23:13] todrobbins commented on #393
Thanks @danfowler! I'll send out a note on the OKFN Labs mailing list when the Discourse category is up and running announcing the revive of the project.

[2015-12-04 23:55] jwieder commented on #374
Thanks guys - I've made the changes that @pdehaye suggested. The images I had in mind are small (one image 20K, the other ~35K) so I will go ahead and place in the repo & link accordingly in a little bit. I'm happy to publish the finished project as you described @danfowler - how about I leave the draft up for a little bit longer though just in case any one else has any notes or corrections?

[2015-12-05 05:45] danfowler commented on #374
Sounds good to me. We can leave it up over the weekend. :+1:

[2015-12-05 05:46] danfowler commented on #393
Excellent! :+1:

[2015-12-07 16:22] jwieder commented on #374
Alright I am going to go ahead and push the newsletter to /blog/_posts/2015-12-05-newsletter.md via my branch of okfn.github.com. I've never tried to link images in a comment before ... so I'm hoping that images are just not available in comments and they will work in a regular .md file.

[2015-12-10 08:54] davbre opened #396 "More prominent link to discussion forum?"
From the homepage there doesn't appear to be a link to the discussion forum. The only link I could find was under the "Contact" page. Should it have its own navigation link at the top of the page?

[2015-12-10 09:33] danfowler commented on #396
@davbre excellent suggestion!  :+1: My suggestion is either at the top or on the right sidebar.

[2015-12-15 12:57] rgrp commented on #393
@todrobbins how are you doing here?

[2015-12-15 12:58] rgrp commented on #389
@danfowler any update here? It would be good to close this out - perhaps at this point just best if you do it and take care of redirects (I can tell you how or do this myself).

[2015-12-16 13:23] danfowler commented on #396
Closed by #397

[2015-12-16 13:23] #396 closed

[2015-12-16 13:24] danfowler commented on #389
@rgrp I can close this out. Is there a way to access the Tender site after help.datahub.io redirects to discuss?

[2015-12-16 14:53] jwieder opened #398 "Newsletter Q1 2016"
Work is getting started on our newsletter for the 1st quarter of 2016, and we need to know about your ideas, accomplishments and current projects!

Please add your suggestions below or as per usual process: http://okfnlabs.org/newsletter/

![newspaper icon](https://cloud.githubusercontent.com/assets/772616/10450780/270564e4-71a5-11e5-9260-f39391fb0c19.jpeg)

You can find a list of newsletter submi

[2015-12-17 22:36] rgrp commented on #389
@danfowler surely you do the redirects in our DNS system ;-) As suggested can you ping me quickly and i brief you on how to do this.

[2015-12-18 10:50] #374 closed

[2015-12-18 10:50] #377 closed

[2015-12-18 10:50] #379 closed

[2015-12-18 10:50] #381 closed

[2015-12-18 10:50] #382 closed

[2015-12-18 10:50] #391 closed

[2015-12-24 11:05] rgrp commented on #390
@todrobbins how are you doing here - this is a great project and we are now super close to having this fully operational again ;-)

[2015-12-24 11:42] rgrp opened #400 "[pm] 2016 Roadmap"
This is a "big" issue for creating a more detailed plan and roadmap for 2016 to deliver on the [goals we have set][goals].

I think there are 2 parts right now:

- Establish a mini-process for how we plan and work - even with the informal structure we have. Something like a (very) lightweight sprint planning process
  - This would also include where we do planning (e.g. github vs trello) and other

[2015-12-24 11:47] rgrp opened #401 "[pm] 2016Q1 Roadmap"
What we want to do in Q1 2016.

Associated milestone: https://github.com/okfn/okfn.github.com/milestones/Q1-2016

Suggestions:

* Finalize a vision/manifesto document
* Recategorize projects
* Designate priority projects and start focusing attention on them
* Migrate membership system to Open Knowledge Directory on discourse
* Start running regular hangouts
* 1+ newsletter

[2015-12-24 11:51] rgrp commented on #401
@danfowler i have made a very first stab to get the ball rolling - please take over and edit / amend etc :-)

[2015-12-24 11:55] rgrp opened #402 "New category for projects: "Priority""
These are projects that are **both**:

* Active
  * An active project has a maintainer, has a repo or database, has a readme and how to contribute section in its info page on the site, and has been updated in the last month
* Help wanted
  * Not just that "help is wanted" but that a) there is a clear description of what people can do and what skills are needed b) there is an on-ramp (it isn't just

[2015-12-24 16:13] todrobbins commented on #390
I was going to make a bad Star Wars joke, but I'll refrain. I need to make one more review of the current code, but I think we're very close aside from reorganizing some of the articles/menu hierarchy.

[2015-12-26 14:19] rgrp commented on #390
@todrobbins brilliant - i also think we probably want to cut and/or move http://datapatterns.org/pattern/ stuff to front page and probably make the front page super simple (keep the general layout but maybe just add the list of patterns or some about text directly into the front page)

[2016-01-04 17:30] rgrp commented on #390
@todrobbins how's it going? Super excited to see this updated.

[2016-01-04 17:37] seralf commented on #390
let me know if you need some help!
I have less time, but still I can contribute a little, if needed
:-)

2016-01-04 18:30 GMT+01:00 Rufus Pollock <notifications@github.com>:

[2016-01-04 17:54] rgrp commented on #390
@seralf we'd love your help - as you know there are a bunch of open issues e.g. https://github.com/okfn/datapatterns/issues/79

[2016-01-08 11:43] rgrp commented on #389
@danfowler I would also suggest we also shut down blog.datahub.io - moving any relevant content to forum with notice about source and original date. e.g. http://blog.datahub.io/2013/10/11/organization-migration-complete/. We also need to implement the redirect from http://blog.datahub.io/2013/10/11/organization-migration-complete/ and http://blog.datahub.io generally to the new forum post about re

[2016-01-08 18:39] todrobbins commented on #389
@rgrp would a shut down also include removing the blog as well or just migrating a copy of the blog content to the forum?

[2016-01-13 18:52] danfowler commented on #389
Closing as help.datahub.io has been redirected (and we have a few requests coming in already).  Creating new issue for blog.datahub.io.

[2016-01-13 18:52] #389 closed

[2016-01-13 20:15] danfowler opened #404 "Move blog.datahub.io content to forum"
There are very few but important posts on http://blog.datahub.io.  All posts should live as their own "sticky" topics here: https://discuss.okfn.org/c/open-knowledge-labs/datahub/

See: https://github.com/okfn/okfn.github.com/issues/389#issuecomment-169974415

[2016-01-14 13:46] danfowler commented on #389
@todrobbins I would think we would shut down the blog and in the future post announcements about the service to the discussion forum.

[2016-01-18 08:52] danfowler opened #405 "[pm] Sprint 15 February - 28 February"
The purpose of this meta-issue is to define an initial two week sprint to take on and complete some Labs tasks within that sprint.  In this initial sprint, I will probably take on the majority of tasks, but hopefully, in the next sprint, we can have others take on some commitments.  This is loosely inspired by IPFS's [project management](https://github.com/ipfs/pm) strategy.  As we go along, this

[2016-01-18 09:07] danfowler commented on #401
@rgrp OK, I've made some edits and re-arranged a bit.

[2016-01-19 16:40] davbre commented on #405
@danfowler - this approach looks fine to me. I could give a hand with issue
#274.

On 18 January 2016 at 09:52, Daniel Fowler <notifications@github.com> wrote:

[2016-01-19 16:50] davbre commented on #274
@danfowler is the idea to add a single attribute to each project page or add multiple attributes? I notice that in some projects a "status" attribute has been set, e.g. [activityapi](https://github.com/okfn/okfn.github.com/blob/master/projects/_posts/1970-01-01-activityapi.html). In other projects there are "helpwanted" and "typeofhelp" attributes, e.g. [For your information](https://github.com/ok

[2016-01-19 18:06] todrobbins commented on #274
This isn't necessarily analogous to our work, but both GDS (UK) and 18F (US) have service design phases that are worth checking out:

* https://www.gov.uk/service-manual/phases
* https://18f.gsa.gov/dashboard/stages/

I think it'd be good to model ours after these emerging best practices.

[2016-01-19 18:32] todrobbins commented on #405
Looks great @danfowler! A what a helpful table! Markdown FTW! Do you want us to edit your comment to add table rows?

[2016-01-19 18:48] davidmiller commented on #405
@danfowler Is there a draft of the vision/manifesto doc? Happy to take a look when there is.

Semi-related: #401 links to a mailing list discussion about a chat space - did that ever get decided on/actioned?

[2016-01-20 20:10] puppycidedb commented on #405
@danfowler I also think this approach is good. I would be willing to
take on a task - I don't have a preference, so if something is left over
I can tackle it.

On 1/18/2016 3:52 AM, Daniel Fowler wrote:

[2016-01-21 13:43] rgrp commented on #401
@danfowler i've tried to add a bit of classification and also bold items (i think) are of greater priority. let me know what you think.

[2016-02-18 10:39] danfowler commented on #405
OK, picking this up again and adjusting dates.  I've scheduled the next hangout planned, and I really hope you all can join.

https://discuss.okfn.org/t/tech-hangout-february-2016/2019

@davbre can you take a look at #274 ?
@todrobbins feel free to edit the table :)
@davidmiller nothing was decided. Do you have a strong preference?
@puppycidedb can you help solicit suggestions for a new newsletter

[2016-02-18 13:39] puppycidedb commented on #405
@danfowler - I will be available for the tech hangout next week & I will
get started on the newsletter tasks. - @jwieder / @puppycidedb

[2016-02-18 13:55] davbre commented on #405
@danfowler - yes, that's fine - I'll take a look when I can.

On 18 February 2016 at 14:39, Puppycide Database Project <
notifications@github.com> wrote:

[2016-02-18 15:14] jwieder commented on #405
@danfowler Updated the table above, created a blog post requesting submissions ( [Pull request #406](https://github.com/okfn/okfn.github.com/pull/406) ), sent out a tweet to okfnlab followers & added a [discussion list topic](https://discuss.okfn.org/t/topics-needed-for-2016q1-newsletter/2024)

[2016-02-18 15:18] danfowler commented on #405
@jwieder :+1: :+1:

[2016-02-19 15:36] davidmiller commented on #405
@danfowler I have no strong opinions, just wondering what the status was. It's the kind of thing where making a decision is more important than the value of the decision.

I delegate any vote I might have had to you ;)

[2016-02-22 23:27] rgrp commented on #405
@danfowler - i missed this originally (do feel free to @ me in future!). Looks **really** good.

@davidmiller +1 on the value of the decision. As for that forum thread I have just commented this weekend with an update recommending (personally) gitter. I have created the public room here https://gitter.im/okfn/chat and invite folks to join and try it out.

@davidmiller The [manifesto / vision doc i

[2016-02-25 15:03] jwieder commented on #405
@danfowler Hi Dan - I'd like to join today's hangout but I can't find the event link on Twitter or the discussion page. Do you have the link available?

[2016-02-25 17:00] danfowler commented on #386
Link: https://plus.google.com/hangouts/_/hoaevent/AP36tYffgZmD-Bx2e6Uw7m55zM532v0jqJUVQepvJSYxuJg3WAanvw?hl=en-GB&authuser=0

[2016-02-25 18:12] danfowler commented on #386
:coffee: is for closers

[2016-02-25 18:12] #386 closed

[2016-02-26 16:52] tfmorris opened #408 "Establish criteria for project inclusion"
What are the criteria for being included the OKFN Labs [project page](http://okfnlabs.org/projects/#featured=true)? When I looked at the page today, top center was occupied by the "Puppycide" project. Inflammatory name aside, this prominence trivializes some of the real work that OKFN is trying to do.

Similarly the Bishop Ivo project appears to be a dumping ground of final format PDFs with no ass

[2016-03-01 14:23] rgrp commented on #274
Let's move this forward! @davbre great points. The more I think about it the more i think there are probably two state / status categories:

* Maturity status: Bleeding-edge, Alpha, Beta, Stable, Super-Stable etc
  * Or for a bit less codey ;-): "infant, teenager, adult, mature, retired, finished/complete
* Activity status: booting-up, active, dormant, retired/archived

I can imagine having projec

[2016-03-01 14:24] rgrp commented on #405
@danfowler how are we doing here - do you have any updates on the (beautiful) tasks matrix :-)

@davidmiller let me know yay or nay on doing a session on the manifesto / vision doc.

[2016-03-02 13:19] davbre commented on #274
Regarding two status categories, I don't mind. The current status category can take multiple values as its values are stored in an array. Maybe one category could cover what you suggest?

In any case, I've written a script to read the project metadata and put it into a csv file. Here's the [script](https://github.com/davbre/scripts-misc/blob/master/okfnlabs-issue274-projects-to-csv.rb) and the [ou

[2016-03-02 15:03] rgrp commented on #274
@davbre ok let's try two categories.

Re the CSV - that's great! I was even thinking we could do this automatically in jekyll -- see e.g. http://idratherbewriting.com/2015/03/06/pushing-content-into-any-format-with-jekyll/ -- and then have it available at http://okfnlabs.org/projects.csv or http://okfnlabs.org/projects/all.csv. wdyt? If you were up hacking that in would welcome the pull request :-

[2016-03-02 15:05] rgrp opened #409 "Finalize a vision/manifesto document for Labs"

[2016-03-02 15:06] rgrp commented on #408
@tfmorris agreed. We are in process of generally trying to improve the classification of projects see #402 #407 etc.

We also want clearer criteria for project inclusion. I think best way is to finish the "vision" document so that we have a clear sense of priorities #409

[2016-03-03 14:29] davbre commented on #274
@rgrp reading from a csv file sounds good to me. See the PR I just made.

Regarding reading from a google spreadsheet, I did a quick search. We could use the [tabletop](https://github.com/jsoma/tabletop) js library along the lines of the following [stackoverflow question/answer](http://stackoverflow.com/a/27424053/1002140). What do you think....any other ideas?

[2016-03-03 15:49] rgrp commented on #274
@davbre sorry for confusion but what i meant was:

Use jekyll frontmatter on each project page to generate a csv file called `/projects.csv/` or `/projects/all.csv`.

This would be useful to have going forwards generally **and** we would then use this CSV to load into google spreadsheet to allow us to look through easily and do reclassification. We would then discard this google spreadsheet once d

[2016-03-05 20:21] rgrp commented on #405
@danfowler i've updated tasks matrix with two assignments on items. Do you know who is taking on updating labs leads? Could we get a separate issue for this as i have some suggestions to offer.

[2016-03-05 20:37] danfowler commented on #405
@rgrp thanks. I will take on updating team leads.
On Mar 5, 2016 20:21, "Rufus Pollock" <notifications@github.com> wrote:

[2016-03-06 11:19] pwalsh commented on #405
@danfowler a lot going on here, great! Can you please also communicate this stuff internally at OKI, especially with the Tech Team.

[2016-03-08 13:03] rgrp commented on #398
Here's an item: Linear TSV spec is complete - https://github.com/dataprotocols/dataprotocols/issues/76 and http://dataprotocols.org/linear-tsv/ Credit to @solidsnack with editorial work from @paulfitz !

[2016-03-08 14:03] danfowler opened #412 "Labs Hangout #14"
Monthly Labs hangout on the third Thursday of the month.

Discussion Forum Topic: https://discuss.okfn.org/t/tech-hangout-march-2016/2206

Sign up and suggestions for topics please via https://pad.okfn.org/p/labs-hangouts

[2016-03-09 08:59] rgrp commented on #412
@danfowler could i suggest we start having "sign-up" and suggestions in thread rather than pad - it would mean one less place to click through and the "chair" could maintain a summary agenda in the forum post. wdyt?

[2016-03-09 20:15] rgrp opened #413 "Migrate membership system to Open Knowledge Directory on discourse"

[2016-03-09 20:20] rgrp commented on #274
Thanks to @davbre efforts this is now live at http://okfnlabs.org/projects/all.csv.

I've now extracted this into a google spreadsheet here which we can use for working through recategorising quickly and easily in one place:

https://docs.google.com/spreadsheets/d/1CiVqAeKqj_U57bDBW1Jz95WN6dS39Rup-hvqvDj2idE/edit#gid=1632238835

@davbre (and @danfowler) the next step would be go through and catego

[2016-03-11 11:14] danfowler opened #415 "Update contact page"
http://okfnlabs.org/contact/

- [ ] Link to new chat space(s)
- [ ] Remove email? (for private comms use direct messaging in Discourse)

[2016-03-11 11:26] danfowler opened #416 "Move blog comments to Discourse"
Let's have all discussion happen on discuss.okfn.org and not split with Disqus.

[2016-03-12 14:46] rgrp commented on #416
:+1: though would argue this is relatively low priority.

[2016-03-12 15:03] rgrp commented on #415
:+1: and suggest we do this asap :smile: (e.g. next sprint)

[2016-03-13 19:56] rgrp commented on #274
@danfowler @davbre I've done a pretty complete run-through in the spreadsheet.

I think we should review and then once in agreement, start implementing some changes.

[2016-03-14 14:59] davbre commented on #274
@rgrp Before implementing the changes you've made in the google spreadsheet by hand (or script), I think it's worth considering migrating most of the project metadata to a CSV file. Updates to the CSV file would automatically update the corresponding project pages. It would mean changes could very easily be made in bulk. Adding/removing project attributes would be the same (just add a column to th

[2016-03-20 14:57] rgrp commented on #412
FIXED.

[2016-03-20 14:57] #412 closed

[2016-03-20 15:10] rgrp commented on #274
@davbre this definitely sounds promising and being able to edit bulk in one place is nice. I guess the question how much in the main CSV vs in the page. My sense is we want to keep stuff that a project owner would edit in the jekyll metadata and move rest to the CSV (stuff for site editors and curators)

As a rough stab:

- In page: title, author, contributors, project_url, github_url, imageurl

[2016-03-20 15:18] rgrp commented on #274
@davbre i'm actually thinking about this - let's get moving and i think easiest is the stuff all in the CSV so can you do a pull request based on your fork. One comment on that - it does look like multi-value items have got "mashed" into one long string in csv https://github.com/davbre/okfn.github.com/blob/projects-from-csv/_data/projects.csv e.g. see language or type column - can we fix this?

[2016-03-27 09:25] rgrp opened #421 "Historical Projects to add to our list (as of Q1 2016)"
* https://github.com/okfn/historic-carbon-budget - viz done in 2012
* YourTopia
* TODO: list all outstanding items in issues

[2016-03-27 09:54] rgrp commented on #274
@davbre great - i've merged the PR. First a big thank-you: looks awesome and much cleaner now!

Couple of quick questions on the PR:

* What's +/- of jekyll collections vs having the projects *inside* /projects/ and using _config.yml to bulk set properties? I'm guessing the main thing is the slug is nicely generated ...
* AFAICT we have *not* yet merged the changes from the google spreadsheet into

[2016-03-27 10:35] rgrp commented on #274
Next steps:

* Implement priority and make changes to featured
* Implement the `maturity_status / stage` and `activity_status`
  * Question: what category namings do we use: do we go for "geeky" or the more non-tech `infant, teenager, etc` - thoughts wanted @davbre @danfowler

Other

* On projects add page add the enumerations we have created and their explanations
* Define priority and similar

G

[2016-03-27 10:46] rgrp opened #422 "Update projects listing page (using priority etc)"
### Projects listing page (/projects/)

We need to update projects page to reflect new priority. Initial thoughts:
- Priority projects at top by default.
- Featured projects somewhere (how much duplication is there with priority?)
- If you search you just get search results

_Derived from and subissue of #274_
### Projects Add page (/projects/add)
- [ ] On projects add page add the enumerations we

[2016-03-28 17:38] davbre commented on #274
@rgrp - yes, I can take up making various changes.

Regarding collections...Having read some of the Jekyll documentation, they seemed a natural fit...

- It allows you to refer to site.projects in the liquid templates (so no pre-filtering is required)
- it gives you a nice url using the filename
- no date is required in the filename (as with posts)
- with posts you have the date in the filename, w

[2016-03-29 09:20] rgrp commented on #274
@davbre

* do we use `stage` or `maturity_status`? They are, I think, the same thing.
* I agree re "infant" etc. I've switched to new naming. Can we update `maturity_status / stage`
* Re spreadsheet i did mean google docs spreadsheet - that's what I'm updating and which we should then sync in relevant ways with main sheet.

[2016-03-29 09:27] rgrp commented on #413
@davbre any thoughts on this and how we might go about it?

[2016-03-29 09:37] rgrp opened #424 "Further clean up of projects list (March 2016)"
We are bulk editing projects csv in [this google doc][gdoc]. See second line for additional comments:

* [x] Add other OK projects e.g. CKAN etc (lines 48-58 in spreadsheet and bolded)
* [x] Change OKFN as owner/author to Open Knowledge International (or "Open Knowledge Intl" if we need it short) - may need to create a user for this ...
* [x] Implement category - TODO: agree on final designations

[2016-03-29 09:37] rgrp commented on #274
@davbre i'm also splitting stuff not related to `priority, maturity_status, activity_status` into a separate issue at #424

[2016-03-29 09:42] rgrp commented on #422
@davbre any thoughts here? /cc @danfowler

[2016-03-29 09:54] rgrp commented on #415
@danfowler bump! Or do you want someone else to take this on?

[2016-03-29 10:07] davbre commented on #422
@rgrp I think the introduction of the priority attribute may be separating
foundation/okfn projects and what you might call community projects. Might
be worth considering labeling this way?

The site uses the isotope js library for this page. One option might be to
add more obvious filters in the form of buttons for say "Featured",
"Foundation", " Community", "Priority" or whatever. See some examp

[2016-03-29 12:23] davbre commented on #274
@rgrp - my latest merge request includes
- `stage` and `maturity_status` are merged into `stage`
- I've applied the new values to `stage` (i.e. dropped "infant", "teenager" etc, in favour of "developing", "mature" etc)
- for the moment let's standardize on true/false as that's what the site already uses. I can update that at a later stage, if necessary

[2016-03-29 13:26] rgrp commented on #422
@davbre the intention of priority was not to discriminate OKI vs non OKI projects - the basis of distinction was explained in the spreadsheet - though many priority projects may have OKI has lead maintainers at present primarily because size and clear owner were criteria.

So, in general, i think i would want to stick with "priority" as the criteria and leave other things to filter into that.

Rig

[2016-03-29 13:45] davbre commented on #422
@rgrp I wasn't suggesting the intention was to discriminate between OKI vs
non-OKI projects. I was just pointing out that there seems to be two types.
And that's fine, I'll change the default filter.

On 29 March 2016 at 15:26, Rufus Pollock <notifications@github.com> wrote:

[2016-03-29 15:36] danfowler commented on #274
@rgrp @davbre this looks like really great and useful work.  Allow me to take a close look at this tomorrow :mag:

[2016-03-29 15:44] danfowler commented on #413
@rgrp @davbre to get a simple listing, the Discourse site can provide the Labs members as a JSON object: https://discuss.okfn.org/groups/labs/members.json

We would then need to set the Discourse site to allow okfnlabs.org to read that info.

[2016-03-29 17:29] rgrp commented on #413
@danfowler really useful to know. Any thoughts on:

* How we do the members page integration (would we still have a page on labs for members to list posts and projects?)
* How would we deal with badges - could we migrate our current badges to discourse (with their cool images ;-) ...)

[2016-03-30 14:29] rgrp commented on #274
@danfowler on this we are now ok - we've made the relevant decisions so you can ignore this one as we have it "under control".

[2016-03-30 14:30] rgrp commented on #422
@davbre got you. I got you and feedback is very useful. Let's get #274 closed and then we'll move on this one.

[2016-04-01 11:52] rgrp commented on #402
FIXED. Done really as part of #274 and relevant commit is here. https://github.com/okfn/okfn.github.com/commit/53ec46bf11f4e18c44c094ebecbb1010a515031b

[2016-04-01 11:52] #402 closed

[2016-04-01 11:52] rgrp commented on #424
Change of OKFN to OKI happened in https://github.com/okfn/okfn.github.com/commit/5cf1c6a095053e31a5da870b0dd62ae1a6085077

[2016-04-01 11:53] rgrp commented on #424
@davbre any thoughts here on what we should do (before we then do it ...)

[2016-04-01 12:09] rgrp opened #426 "Trovebox as a Labs project"
There is discussion about having Trovebox open photo project live at labs with Open Knowledge (Intl) as the holder and curator of the assets:

https://github.com/photo/frontend/issues/1570

Question: should Labs take this on?

/cc @pwalsh @danfowler @davbre @davidmiller (and all labs members)

### How this would work

*This is a rough sketch - for discussion and review*

* Trovebox (photo) github

[2016-04-01 16:16] tfmorris commented on #426
I would have thought that IP transfers would require involvement of an officer of the OKFN corporation, rather than a popular vote of labs volunteers.

If they decide not to take it on, the [Software Freedom Conservancy](https://sfconservancy.org/supporter/) is an organization which will hold funds, assets like domain names, etc for approved open source organizations.  The Apache Foundation might

[2016-04-01 20:38] rgrp commented on #426
@tfmorris

Yes, of course, any formal transfer would require that but it would be predicated on and follow a discussion like this in Labs.

Small point: it is always Open Knoweldge or Open Knowledge X rather than OKFN ...

On the other point the discussion is currently with Labs as we have talked with them in the past and there is an alignment. Understand there are other options but let's focus di

[2016-04-02 14:55] rgrp commented on #415
@davbre would you be up for taking this on - super simple :smile:

* The new new chat space is https://gitter.im/okfn/chat
* We should remove the private email and point people to https://discuss.okfn.org/c/open-knowledge-labs

[2016-04-02 14:57] rgrp commented on #405
@danfowler how are we doing here with the newsletter and the syncing with labs leads? Everything else is done :birthday:

[2016-04-03 08:42] rgrp opened #427 "[projects] Data Patterns"
Add Data Patterns project to list (priority, not featured, maintainer is @rgrp for present).

[2016-04-04 07:03] davbre commented on #424
@rgrp Some of the above have already been implemented. "category" is in place as a filter (and reflects what is currently in the google docs spreadsheet). This can be easily be changed by just editing the corresponding column in the projects csv file. Also, `permalink` and `slug` have already been deleted.

I don't know what "implement theme" is referring to. Could you elaborate?

Regarding `autho

[2016-04-04 07:23] davbre commented on #415
@rgrp yes, I'll update that. Do you want to keep the section pointing to the IRC channel?

[2016-04-04 07:37] danfowler commented on #415
@davbre :+1: Thanks. I'd say remove the pointer to the IRC channel as well as the "Announce List and Newsletter".  Keep the general Mailing List.

[2016-04-04 07:43] davbre commented on #415
@danfowler the signup to the announce list and newsletter appears on the
homepage as well. Remove that also I guess?

On 4 April 2016 at 09:37, Daniel Fowler <notifications@github.com> wrote:

[2016-04-04 08:09] danfowler commented on #415
Yes.  I may re-add in the future, but it's going unused now.

[2016-04-04 08:11] danfowler commented on #426
@rgrp I'm not strongly feeling the connection between Trovebox and Labs.  I get that Labs and OK sysadmins might not directly have to support this work, but there is still some cost to running and putting our name on a service that is mostly abandoned.  Can adopting Trovebox be strategically important in further developing other Labs projects?

[2016-04-04 10:03] rgrp commented on #426
@danfowler good questions. I think we should also ping okfn-labs on this one with a link here and see if people have any thoughts.

[2016-04-04 16:43] danfowler opened #430 "Show user's "area" in blog posts"
It would be nice to show a member's `area` attribute next to their names on their blog posts.

[2016-04-05 18:23] jmathai commented on #426
Thanks for the discussion on this. Here's some additional input.

The Trovebox project has been largely dormant for about 1.5 years since the core team moved on. One of the community members wants to take the lead on continuing its development.

As part of the core team moving on the CLAs that were held were transferred to a company that sought to integrate Trovebox into their suite of products. N

[2016-04-08 10:57] rgrp commented on #426
@jmathai to clarify on the code "ownership": i assume that everything currently in the photo org is openly licensed? i.e. the code that was open before the core team moved on remained open?

[2016-04-08 17:20] jmathai commented on #426
@rgrp Everything we had was licensed under Apache2. So to the best of my understanding it remains under that license. There was an asset purchase agreement where IP assigned to our company was transferred. This included IP from the founders, employees and contractors who signed copyright assignment agreements.

About 1/2 of the volunteer contributors signed a copyright license agreement.

Hope tha

[2016-04-09 10:20] rgrp commented on #426
@jmathai that's pretty clear and really useful -- basically everything in the github repo is licensed under Apache2 though the underlying copyright went with the copyright assignment. The existing code can therefore be used under Apache2 and new code would obviously be copyright the contributors.

[2016-04-10 04:44] jmathai commented on #426
Correct for work which was compensated. Copyright for all non-paid work remains with the authors.

[2016-04-10 12:07] rgrp commented on #427
FIXED by #429 - thanks @davbre!

[2016-04-10 12:07] #427 closed

[2016-04-10 12:15] rgrp commented on #415
FIXED in #428 thanks to @davbre

[2016-04-10 12:15] #415 closed

[2016-04-10 12:58] rgrp commented on #398
@jwieder @danfowler how is this going?

[2016-04-10 12:58] rgrp commented on #392
We now have https://github.com/okfn/ok-media - could this go there?

[2016-04-10 13:02] rgrp commented on #392
FIXED - we can use https://github.com/okfn/ok-media

DUPLICATE in terms of adding info for new issue https://github.com/okfn/ok-media/issues/6

[2016-04-10 13:02] #392 closed

[2016-04-10 13:03] rgrp commented on #354
WONTFIX / DUPLICATE of https://discuss.okfn.org/t/nicer-badge-icons-images/2108

Rather than fix here should make this part of badging effort on the main OK directory.

[2016-04-10 13:03] #354 closed

[2016-04-10 13:04] rgrp commented on #401
@danfowler something for us to review as part of next labs hangout.

[2016-04-10 13:05] rgrp commented on #363
INVALID. Great suggestion but one for https://github.com/okfn/data.okfn.org/issues

[2016-04-10 13:05] #363 closed

[2016-04-10 13:06] rgrp commented on #422
@davbre would you be up for starting on some of this.

As a first step, what about updating the projects/add page with the enumerations and their explanations.

[2016-04-10 13:07] rgrp commented on #364
FIXED / DUPLICATE of #422 (Fixed in that we implemented these criteria when doing prioritization).

[2016-04-10 13:07] #364 closed

[2016-04-10 13:07] rgrp commented on #350
WONTFIX. Have not head anything so closing as part of spring cleaning. @mlandauer if you would like still to do this that would be great and please re-open.

[2016-04-10 13:07] #350 closed

[2016-04-10 13:08] rgrp commented on #348
WONTFIX. No great luck.

[2016-04-10 13:08] #348 closed

[2016-04-10 13:08] rgrp commented on #332
FIXED. https://discuss.okfn.org/t/announcing-shut-down-of-the-labs-server/2437

[2016-04-10 13:08] #332 closed

[2016-04-10 13:09] rgrp commented on #373
@davbre would you be up for doing this one?

[2016-04-10 13:10] rgrp commented on #146
WONTFIX. Not a priority and not a high profile labs project.

[2016-04-10 13:10] #146 closed

[2016-04-10 13:11] rgrp commented on #76
WONTFIX.

[2016-04-10 13:11] #76 closed

[2016-04-10 13:12] rgrp commented on #226
WONTFIX. Been around a while with no movement and value / cost seems low.

[2016-04-10 13:12] #226 closed

[2016-04-10 13:13] rgrp commented on #393
@todrobbins how you doing here?

[2016-04-11 18:13] davbre opened #431 "Homepage blog post username links"
On the homepage we display blog post titles along with the corresponding author name, date, and a teaser. The author's name is not linked to that user's profile. Should it be? (Note that if you click into the actual blog post the author's name is linked.)

[2016-04-13 15:17] danfowler commented on #431
My feeling no.  I think it's more valuable for people to click through to the post.

[2016-04-14 05:48] davbre commented on #431
@danfowler - that's fair enough. I'll close this out.

[2016-04-14 05:48] #431 closed

[2016-04-14 12:11] danfowler commented on #373
Thanks @davbre ! Closing out! :+1: :+1:

[2016-04-14 12:11] #373 closed

[2016-04-14 15:23] danfowler opened #433 "Update /about/resources/ page"
Lots of outdated (and soon-to-be-outdated) information here:

- [ ] Remove references to server about to be shutdown: hydrogen.okfnlabs.org (see [here](https://discuss.okfn.org/t/announcing-shut-down-of-the-labs-server/2437))
- [ ] Are we still using http://assets.okfnlabs.org/ ?  Probably just remove reference here.
- [ ] Remove references to defunct Jenkins instance
- [ ] Remove references to (d

[2016-04-14 15:31] danfowler opened #434 "Update /events/"
Kind of busy and hard to read as it is essentially two large, mostly irrelevant embeds.  Suggest it describes the two types of events we typically run:

- Open Knowledge Labs Online Hangouts (virtual)
- Open Data Maker (in-person)

- [x] I'm not sure we need attendance form if we use attending.io
- [x] Timemap is still cool, but maybe it needs to go somewhere else

[2016-04-15 09:10] rgrp commented on #434
@danfowler +1 on all of this.

* Timemapper is out of date and can be removed (maybe put it at the bottom of Open Data Maker page - http://okfnlabs.org/events/open-data-maker/ - so we have an archive)
* Attendance form was for internal use and was just there for a quick link. Could be dropped.
* Embedding the massive empty calendar is perhaps not needed (or maybe we should put it in agenda form).

[2016-04-16 08:31] rgrp commented on #433
@danfowler sounds good on all of these and we may want on completion to log an open issue about cleaning up assets.okfnlabs.org (since we will no longer have a reference to it it will be easy to forget about).

[2016-04-16 08:31] rgrp commented on #433
@davbre would you be up for implementing?

[2016-04-16 09:44] rgrp commented on #422
@davbre wondering if you would be up for this.  Immediate priorities:

* Update `projects/add` with info about our concepts
* Update `projects` to show priority by default ...

[2016-04-16 09:45] rgrp opened #435 "Switch labs to the handbook theme"
Propose switching labs to our increasingly standard "handbook" theme:

https://github.com/okfn/handbook-theme

[2016-04-16 09:47] rgrp commented on #393
@todrobbins ping ;-)

[2016-04-16 09:48] rgrp commented on #68
WONTFIX / FIXED. Large parts of this are done and no clear action remaining.

[2016-04-16 09:48] #68 closed

[2016-04-16 09:49] rgrp commented on #73
DUPLICATE now of #434

[2016-04-16 09:49] #73 closed

[2016-04-16 09:50] rgrp commented on #434
@danfowler also want to suggest we merge http://okfnlabs.org/events/hangouts/ into the main events page and put that content under a part of the page called e.g. "Archive"

[2016-04-16 09:52] rgrp commented on #134
WONTFIX. At present no pressing need for this.

[2016-04-16 09:52] #134 closed

[2016-04-16 10:01] rgrp commented on #185
WONTFIX.

[2016-04-16 10:01] #185 closed

[2016-04-16 10:07] rgrp commented on #156
DUPLICATE. Closing in favour of https://discuss.okfn.org/t/creating-a-labs-handbook/2507

[2016-04-16 10:07] #156 closed

[2016-04-16 20:12] todrobbins commented on #393
[emerges from dark dreary cave...]

☺️ I will send out that long ago promised email this weekend. 👍

[2016-04-17 15:48] rgrp commented on #405
@danfowler can we close this out and move items to 2016 Q2 item.

[2016-04-17 17:52] #155 closed

[2016-04-17 19:03] rgrp commented on #155
FIXED. http://okfnlabs.org/blog/2016/04/19/pdf-tools-extract-text-and-data-from-pdfs.html

[2016-04-17 22:38] tfmorris commented on #155
That's a 404 for me.

Plus:
- The Count von Count image on the 404 page is slow to load (I'm on a
train, but still, PNG?) and looks to potentially be a copyrighted Sesame
Street character/
- The 404 page has no search box which would probably be the quickest route
to finding the page that is missing

[2016-04-18 18:55] rgrp commented on #155
@tfmorris it won't go live until tomorrow as per the date ;-) Check the commit if you want to review in advance ...

[2016-04-20 09:01] danfowler commented on #155
Thanks. Online now. Had to give it a nudge to rebuild.

[2016-04-22 10:42] danfowler commented on #434
OK, merging everything into /events/ and adding the timemap to /events/timemap/.

[2016-04-22 10:47] #434 closed

[2016-04-22 12:51] danfowler commented on #435
@rgrp The Labs website is certainly in need of a refresh which we are planning on at any rate.  I'm not sure the "handbook" theme really applies here, though.

[2016-04-22 13:09] danfowler opened #437 "Clean up assets.okfnlabs.org"
We should safely remove http://assets.okfnlabs.org/

- [ ] Find where those assets are currently used
- [ ] Move assets to new location (e.g. into the repo itself)

[2016-04-23 20:25] rgrp commented on #435
@danfowler what are your concerns about using it?

The theme is quite nice and generic and there is nothing especially handbook-y about it (it is just called that because it was originally developed for the handbook).

[2016-04-26 17:44] danfowler opened #438 "Support something like "ecosystem" or "supports" for Labs projects"
e.g. these tools all support Data Packages and are part of a "[Frictionless Data](http://frictionlessdata.io/)" ecosystem, so the website should highlight that.

- http://okfnlabs.org/projects/dpm/
- http://okfnlabs.org/projects/goodtables/
- http://okfnlabs.org/projects/mira/
- http://okfnlabs.org/projects/core-datasets/

[2016-04-26 18:05] rgrp commented on #438
@danfowler good idea - and had similar thoughts about a `theme` category for projects in #402

[2016-04-26 18:18] rgrp commented on #430
@danfowler i'd personally be "meh" wontfix on this one. Yes it would be nice but probably not a priority and also intersects with #413

[2016-04-26 18:19] rgrp commented on #390
FIXED. I'm going to closed this as fixed as site is back up even if other stuff not sorted.

[2016-04-26 18:19] #390 closed

[2016-04-27 07:24] danfowler commented on #438
@rgrp cool.  Based on conversations last night in Barcelona, I think this is relatively high priority as an organizing principle for Labs projects.  If different projects could possibly build on each other and work together, that should be highlighted.

[2016-04-27 08:48] rgrp commented on #438
@danfowler i agree - did you see the work in #402 in the spreadsheet? What can we do to get this rolled out to the site?

[2016-04-27 12:07] danfowler opened #439 "Update GitHub activity include"
[GitHub activity include](https://github.com/okfn/okfn.github.com/blob/master/_includes/activity.html) should reflect featured or otherwise high priority projects.

Suggest getting project information from something like:

`{{ site.data.projects | where: "featured","TRUE" | jsonify }};`

and filtering.

[2016-04-27 21:05] rgrp commented on #439
@danfowler great suggestion.

@davbre would you like to implement 😄  ?

[2016-04-29 08:50] rgrp commented on #439
FIXED. in https://github.com/okfn/okfn.github.com/pull/440

[2016-04-29 08:50] #439 closed

[2016-04-29 16:08] rgrp commented on #393
@todrobbins ping ;-)

[2016-05-05 17:26] rgrp commented on #398
@jwieder how is this going? Be great to get this out.

[2016-05-05 17:28] rgrp opened #442 "[pm] Sprint 9 May - 23 May"
| Task | Lead | Estimate (days) | Issue | Done |
|----|----|----|----|----|
| Task 1 | Lead by | half day | Issue | :heavy_check_mark: |
| Labs Hangout | @danfowler  | 0.25 | yet to open | :heavy_check_mark: |
| Handbook Sprint | @gsilvapt | 14 days | https://github.com/okfn/handbook/issues/99 | |
| Further clean up of projects list (March 2016) | @davbre | ? | #424 | :heavy_check_mark: |

[2016-05-13 08:42] rgrp commented on #442
@danfowler @gsilvapt @davbre any thoughts on other items to include.

@gsilvapt it would also be nice to turn this list into a table as per table in description #405 if you were up for trying.

[2016-05-13 09:44] gsilvapt commented on #442
@rgrp This?

| Task | Lead | Estimate (days) | Issue | Done |
|----|----|----|----|----|
| Task 1 | Lead by | half day | Imaginary Issue | :heavy_check_mark: |

[2016-05-13 11:05] rgrp commented on #442
@gsilvapt perfect - i've tweaked a bit.

[2016-05-13 11:32] gsilvapt commented on #442
Did a small change to add the actual sprint issue I just created.

[2016-05-15 12:24] rgrp commented on #424
@davbre - i agree. Replace `author` with `owner` and merge `contributors` and `maintainers` into `contributors`.

Re `theme` i mean the idea of classifying projects under specific themes. I think we leave this for now.

[2016-05-24 14:22] danfowler commented on #442
@rgrp no issue to open for Labs Hangout. "Issue" will always be a new post on the forum: https://discuss.okfn.org/t/labs-hangout-may-2016/2593

[2016-05-24 16:41] rgrp commented on #442
@danfowler great and we can just link to that rather than an issue.

@danfowler can you boot an item for a new sprint?

[2016-08-05 14:41] danfowler opened #454 "Add Data Protocols (http://specs.okfnlabs.org/) as Labs project"
http://specs.okfnlabs.org/

[2016-08-05 15:05] danfowler opened #455 "Add Code of Conduct for mailing list + other community forums"

[2016-08-05 15:47] danfowler opened #456 "Support something like civic.json for projects"
https://github.com/BetaNYC/civic.json

[2016-08-09 14:03] danfowler opened #457 "Close down Labs server"
* [ ] Migrate lov.okfn.org to Heroku

[2016-08-09 16:32] danfowler commented on #393
🚀

@flashpixx is looking for BibJSON -> BibTeX tool.

[2016-08-09 17:33] todrobbins commented on #367
@rgrp @danfowler what other roles are in need of filling? I'm ready to assist.

[2016-08-10 15:31] danfowler opened #458 "Blog post on Till Doehmen's csv,conf,2 talk"
_From @pwalsh on August 8, 2016 6:44_

https://www.youtube.com/watch?v=KbHwStDfcMo

_Copied from original issue: frictionlessdata/project#281_

[2016-08-10 15:31] danfowler opened #459 "Blog post on Till Doehmen's csv,conf,2 talk"
_From @pwalsh on August 8, 2016 6:44_

https://www.youtube.com/watch?v=KbHwStDfcMo

_Copied from original issue: frictionlessdata/project#281_

[2016-08-10 15:31] danfowler commented on #459
This issue was moved to okfn/okfn.github.com#458

[2016-08-10 17:48] danfowler commented on #367
Great! Let's chat!  https://gitter.im/okfn/chat

There are a few things that need doing, the most important of which is shutting down our last server and assisting with a migration of all things that were once hosted on the server to Heroku.

https://github.com/okfn/okfn.github.com/issues/457

[2016-08-10 18:46] danfowler opened #460 "Add Handbook as Labs project"
https://github.com/okfn/handbook

[2016-08-10 20:19] #458 closed

[2016-08-11 22:35] #174 closed

[2016-08-12 03:24] danfowler opened #463 "Idea: What Can I Do For Labs? Onboarding"
Based on: http://whatcanidoformozilla.org

via @morchickit

[2016-08-12 07:30] rgrp commented on #463
@danfowler we did implement something like this a while ago. Right now I'd focus on us getting the handbook sorted (and perhaps add items like this to the handbook issue tracker).

[2016-08-12 15:11] danfowler opened #464 "Newsletter"

[2016-08-12 15:11] danfowler opened #465 "Post: Introduction to Heroku"

[2016-08-12 15:25] danfowler commented on #274
Marked as done in #405 so closing.

[2016-08-12 15:25] #274 closed

[2016-08-12 15:32] danfowler commented on #405
Closing.

[2016-08-12 15:32] #405 closed

[2016-08-12 15:33] danfowler opened #466 "Publish Handbook"
https://github.com/okfn/handbook

[2016-08-12 15:34] #466 closed

[2016-08-12 16:39] gsilvapt commented on #460
Not sure what I should here. Would you mind explaining, @danfowler ?

[2016-08-12 16:42] danfowler commented on #460
Updating and elaborating on this page: http://okfnlabs.org/projects/datapatterns/

Adding yourself as a contributor, and perhaps explaining how people can usefully contribute 😄

[2016-08-12 16:44] gsilvapt commented on #460
Thanks! I need to find that repo and then will update it. Not sure if I am the right person to tell people how to usefully contribute to Labs but will give it a try. :smile:

[2016-08-12 16:45] danfowler commented on #460
@gsilvapt well, how to contribute to the handbook at least 👍

e.g. that it's hosted on GitHub (Pages) and so on.

[2016-08-12 16:48] gsilvapt commented on #460
Wait, this is confusing. This is the project I have been working on with Rufus.

The newest version is uploaded here: http://okfnlabs.org/handbook/

datapatterns.org is not used anymore. The page itself, I am not sure where that okfnlabs.org/projects/datapatterns/ repository is, to correct those issues. Nevertheless, the project name *Data Patterns* is no longer used, instead we used **Handbook**.

[2016-08-12 17:08] danfowler commented on #460
Yeah, I agree.  What used to be the "datapatterns" repo is now the "handbook" repo (https://github.com/okfn/datapatterns redirects to https://github.com/okfn/handbook).  Given that it is the same project essentially, I'm happy to just redirect the datapatterns.org domain name to http://okfnlabs.org/handbook/.

[2016-08-12 21:29] danfowler opened #467 "Labs Hangout August 2016"
We're having our monthly Labs Hangout on 18 August at the normal hour (Thursday at 5pm London time).  Our special guest will be Waylon Flinn who will talk about Dataship, a new platform for in-browser data analysis (think Jupyter Notebooks, but more collaborative).  The motivating goal behind Dataship is to make it "as easy to share data and analysis as it is to share pictures of your breakfast" :

[2016-08-12 21:56] danfowler commented on #424
This looks closed to me.  Only as of #450.  Only remaining issue is project theme, but we need to define clearly first.

[2016-08-12 21:56] #424 closed

[2016-08-12 21:57] danfowler commented on #442
And now this sprint has ended.

![game-of-thrones-jon-snow-my-watch-has-ended](https://cloud.githubusercontent.com/assets/772616/17638147/312bf7fc-60b6-11e6-9cc1-9cd4fea61225.jpg)

[2016-08-12 21:57] #442 closed

[2016-08-13 09:18] rgrp commented on #460
@danfowler yes, please let's redirect datapatterns.org to okfnlabs.org/handbook/!

[2016-08-13 14:30] danfowler commented on #460
We can use an internal redirect in Jekyll.

[2016-08-15 11:47] rgrp commented on #460
@danfowler personally i'd boot a new project and mark datapatterns as deprecated as worth emphasizing the change.

[2016-08-18 17:47] danfowler commented on #467
🚀

https://discuss.okfn.org/t/labs-hangout-august-2016/3372

[2016-08-18 17:47] #467 closed

[2016-09-26 18:50] acka47 opened #468 "openbiblio.net not available"
Different people have informed me (as I am the previous coordinator of this for some years now inactive working group) that  the website at http://openbiblio.net/ can not be reached. It gives a 401 "Authorization Required". I am not able to log in and do anything. Could someone bring this up again?

[2016-09-26 20:25] danfowler commented on #468
@acka47 Thanks for raising this.  We recently changed the way we host blogs on the network and some sites went offline as a result.  Looking into it.

[2016-09-27 06:35] pwalsh commented on #468
Hi @acka47

As @danfowler indicated, we recently overhauled our blogfarm, which had over 200 sites in it, about 100 of which were inactive and abandoned. openbiblio was one of several sites that had no activity for a long enough period that we turned off the lights. I've now fixed it so that the domain redirects to okfn.org. If you are interested in reinvigorating the working group, please be in c

[2016-09-27 06:45] acka47 commented on #468
Ok, I suggest to not list the openbiblio group under "Active groups" (see https://okfn.org/network/working-groups/) then and remove links to openbiblio.net from the main okfn site.

[2016-09-27 06:47] pwalsh commented on #468
ok @morchickit that is one for you.

[2016-09-27 13:41] danfowler opened #469 "Post: Frictionless Data Specs Working Group"
- [x] Purpose
- [x] Who is participating
- [x] Timelines
- [x] Call to Action

https://github.com/orgs/frictionlessdata/teams/specs-working-group

[2016-09-27 13:41] danfowler opened #470 "Post: International Data Week"

[2016-09-27 15:17] todrobbins commented on #468
Open Humanities is in a similar situation and should be removed from "Active groups" as well.

[2016-09-27 16:02] rgrp commented on #468
@pwalsh I suggest de do *not* simply shut down openbiblio.net - it had lots of important historical content. If we want to archive please can we move it to an archive on s3 and use our webarchive.okfn.org and add a redirect

openbiblio.net -> webarchive.okfn.org/openbiblio.net/

[2016-09-29 15:00] danfowler opened #471 "Boot Core Data Curators as explicit Labs project"
http://data.okfn.org/roadmap/core-datasets

[2016-10-03 06:29] rgrp commented on #471
+1. I also think we need to complete the handbook work so we have a good long-term home for documentation etc.

[2016-10-08 18:59] danfowler opened #472 "Post: 2030 Watch"

[2016-10-08 19:00] danfowler commented on #470
Drafted, but not going on the Labs blog.  Look toward the main Open Knowledge International blog.

[2016-10-08 19:00] #470 closed

[2016-10-12 08:58] acka47 commented on #468
So I guess this issue should be re-opened or a new one should be opened? In the last two weeks I had three incidents where I would have liked to look up/point to something at openbiblio.net. The wayback machine works for me but many people wonÄt be able to find the contents via google etc... Especially the principles on open bibliographic data are important.

[2016-10-13 07:19] pwalsh commented on #468
I'm going to leave this for @morchickit to decide. It is no small overhead managing the OKI blogfarm, and we recently removed some abandoned sites from the 200+ site large farm due to issues with spam and security.

[2016-10-13 07:33] morchickit commented on #468
Ok,

Firstly, we are aware that we need to update this page on the website: https://okfn.org/network/working-groups/ and working on it.

I will discuss with @pwalsh about archiving it and get back to you here

[2016-10-13 12:01] #472 closed

[2016-10-13 12:53] rgrp commented on #468
@pwalsh got you but i think it would be good to check before we action e.g. post a list of sites to be archived on the forums. OpenBiblio was a major effort and it would be important to retain its content.

@acka47 i also flag that if you were interested in keeping the WG active then that is something i imagine people are interested in. There is still a way to go on open bibliographic materials ..

[2016-10-13 12:55] pwalsh commented on #468
@rgrp you are right, and @morchickit and I are looking at this now.

[2016-10-13 13:01] morchickit commented on #468
Just to be clear @rgrp we are looking at how to preserve the content, but not in re-open working groups... We do not have the resources to support these groups ATM

[2016-10-13 13:25] acka47 commented on #468
You are definitely right that there still is some work to be done re. open bibliopgraphic data. But the working group has de facto been inactive for more than two years – though it was never formally declared inactive. We would rather be talking about reactivating the group than about keeping it active.

I for my part have no plans to reactivate it. If somebody wants to do it in the future, I thin

[2016-10-13 19:49] rgrp commented on #468
Great, all really clear. We will just archive content and declare the WG retired.

[2016-10-14 15:28] todrobbins commented on #468
👍🏻👍🏻

[2016-11-24 09:52] acka47 commented on #468
I propose to reopen the issue until the content is archived and the redirect is set?

[2016-11-26 18:50] rgrp commented on #468
@acka47 yes!

[2016-11-28 11:02] rgrp opened #476 "https access not working due to certificate"
https://okfnlabs.org/csv.js/csv.js does not work now when loaded from other sites due to certificate issues.

Hosted on github and probably answer is cloudflare or similar certificate and proxy.

[2016-12-02 11:13] rgrp commented on #422
@davbre pinging again ;-) - if you had a moment here it would be awesome and we could finally close!

[2016-12-02 11:48] davbre commented on #422
@rgrp - the `projects` page is currently showing the priority projects by default and the `projects/add` was also updated some months back. Is there something else needed as well?

[2016-12-05 11:12] rgrp commented on #422
@davbre ah perfect 👍  😄  I'm going to close this then!

[2016-12-05 11:13] rgrp commented on #422
FIXED. See previous comment.

[2016-12-05 11:13] #422 closed

[2016-12-06 22:38] danfowler commented on #469
Closed by https://github.com/okfn/okfn.github.com/commit/19e716dd1860e731c1aba8a10e7b6b51ff2f0377

[2016-12-06 22:38] #469 closed

[2016-12-06 22:39] danfowler opened #478 "Post: RDFBrowser"

[2016-12-06 22:39] danfowler opened #479 "Post: Alignment"
https://github.com/okgreece/Alignment

[2016-12-08 17:04] danfowler opened #480 "Post: Updated GoodTables Library"
https://github.com/frictionlessdata/goodtables-py

[2016-12-13 00:51] danfowler opened #481 "Post: Open Referral 1.1 Technical Specification"

[2016-12-13 05:22] todrobbins commented on #481
@danfowler is this in reference to [this specification](https://github.com/openreferral/specification)? Thanks!

[2016-12-15 16:29] danfowler opened #482 "Post: personaldata.io"
http://www.personaldata.io/

[2016-12-15 21:22] danfowler commented on #481
@todrobbins yes, it totally is

[2017-02-08 18:15] danfowler opened #487 "Post: datapackage-pipelines"
https://github.com/frictionlessdata/datapackage-pipelines

[2017-02-08 22:07] danfowler opened #488 "Delete this Twitter account"
https://twitter.com/OpenDataLabs

[2017-02-09 21:05] danfowler commented on #482
This post was published on the main blog: https://blog.okfn.org/2016/12/21/personaldata-io-helps-you-get-access-to-your-personal-data/

[2017-02-09 21:05] #482 closed

[2017-02-22 16:32] danfowler opened #490 "Post: datapackage-m"
By @michaelamadi: https://github.com/nimblelearn/datapackage-m

[2017-02-23 04:43] danfowler opened #491 "Post: Metatab"
All about: https://github.com/CivicKnowledge/metatab-py
With some intro from: http://metatab.org/2016/10/25/metatab-interface-to-datapackage-json/

[2017-02-24 17:51] danfowler opened #492 "Post: data.world Tabular Data Package integration"
(repost from their site)

[2017-02-24 21:41] todrobbins commented on #492
Link?

[2017-02-25 20:35] danfowler commented on #492
None yet.  Publishing Monday.
--
Dan Fowler
Developer Advocate
Open Knowledge International

[2017-02-27 07:10] #487 closed

[2017-02-27 16:02] todrobbins commented on #492
@danfowler I meant to ask: what is the link to the original from their site? 👍🏻

[2017-02-28 06:36] danfowler commented on #492
@todrobbins no, I understood!  It hadn't been published yet.  Now it is!

https://meta.data.world/try-this-frictionless-data-world-ad36b6422ceb

[2017-02-28 15:46] todrobbins commented on #492
Ah! My mistake. Thanks!

[2017-02-28 22:58] danfowler commented on #492
No mistake.  Good question!  What did you think about the post?  The plan is re-post the content on the Labs blog.

[2017-03-01 08:18] acka47 commented on #468
When will this one be approached?

[2017-03-09 12:42] skarampatakis commented on #479
Hi @danfowler,
You can find a first draft of this article on [this](https://docs.google.com/document/d/1M9T36hHLsuSXg46swM84EE6CMUpTg5vGSXGNfEM5dM4/edit?usp=sharing) Google Doc.

[2017-06-02 13:56] acka47 commented on #468
The site still is not archived. Any chance this will be done soon?

[2017-06-05 17:14] todrobbins commented on #468
@rufuspollock @morchickit where does the content need to be archived? I can help with that process.

[2017-06-13 20:22] ivarref opened #495 "Update population data"
Hi, and thanks for some fine data.

It seems that the [okfn population figures](http://data.okfn.org/data/core/population) stops in 2014, but the original [World Bank source](http://data.worldbank.org/indicator/SP.POP.TOTL)  has data for 2015.

Would it be possible to update this?

[2017-06-14 06:03] danfowler commented on #495
Hello @ivarref thanks for raising this issue!  The data on data.okfn.org are Data Packages based on data stored in GitHub repos the [Frictionless Data specs](http://specs.frictionlessdata.io/).  The source repo for these datasets is here: https://github.com/datasets/population

Because it is based on GitHub, anyone can update using the provided script and submitting a PR.  I am [updating](https://

[2017-06-14 06:03] #495 closed

[2017-07-11 09:08] andylolz opened #499 "Links to projects are broken on person pages"
E.g.

![screen shot 2017-07-11 at 10 07 03](https://user-images.githubusercontent.com/464193/28060951-c25b2b1a-6620-11e7-8ee9-048d6a4b82e2.png)

[Code refers to](https://github.com/okfn/okfn.github.com/blob/f5895059/_layouts/person.html#L60) `url` column in [projects.csv](https://github.com/okfn/okfn.github.com/blob/6e355ed7/_data/projects.csv), but the correct column is in fact called `projecturl

[2017-07-11 15:38] #499 closed

[2017-10-09 13:14] acka47 commented on #468
Ping. Just stumbled about another reference to an openbiblio.net article which can not be resolved. Will this issues be approached any time?

[2017-10-21 08:20] rufuspollock commented on #468
@pwalsh anyone who can take this on e.g. @callmealien ? It could be quite easy ...

[2017-10-21 18:31] pwalsh commented on #468
@rufuspollock

@svanderwaal oversees the network sites, and will have to address this, esp. if he wants to change the previous decision.

[2017-11-30 10:31] vitorbaptista opened #503 "Tables look bad on okfnlabs"
For instance, this is how the tables currently look on http://okfnlabs.org/blog/2017/11/29/validating-scraped-data-using-goodtables.html.

![Table styling on okfnlabs](https://user-images.githubusercontent.com/76945/33426387-80b1774c-d5b9-11e7-816a-04283437dc60.png)

Without borders, it's hard to know when a column ends and other start (check the `year` and `month` columns above).

[2017-11-30 11:34] #503 closed

[2017-12-14 19:18] ebeshero opened #505 "Timemapper not working?"
Timemapper appears not to be working at all:
See http://timemapper.okfnlabs.org/ which is generating an application error. I have a series of timemapper timelines that aren't serving to my students as a result--is this something easy to fix?

[2017-12-14 20:32] todrobbins commented on #505
@ebeshero it looks like it might be a Heroku issue. Paging @danfowler.

[2017-12-15 08:59] rufuspollock commented on #505
@todrobbins @danfowler is no longer available for this. But I can help debug or someone else at OKi 😄

[2017-12-15 10:07] brew commented on #505
@ebeshero Thanks for the report. timemapper should now be back online.

[2017-12-15 10:07] #505 closed

[2017-12-15 15:54] rufuspollock commented on #505
@brew could you detail what happened?

[2017-12-15 15:59] brew commented on #505
Sure - the issue wasn't really technical, but administrative. We had run our of hours on our hosting plan, and needed to upgrade it for timemapper.

[2018-01-29 13:09] acka47 commented on #468
An news on this?

[2018-01-29 13:30] svanderwaal commented on #468
@acka47 thanks for the ping - I'm researching the option of archiving the site via webarchive.okfn.org and will update here when I know more.

[2018-02-12 16:03] ptgolden opened #509 "lov.okfn.org unavailable"
I'm not sure if this is the right place to raise this issue, but I can no longer access the [Linked Open Vocabularies](http://lov.okfn.org) website. Judging from [this tweet](https://twitter.com/tmtn/status/961458437396639744), it may have been down for about a week now.

[2018-02-12 16:04] ptgolden commented on #509
However, thinking back, I realize that I used it as recently as Friday, so ignore that last sentence.

[2018-02-14 16:24] ptgolden commented on #509
It's back online now. Thank you!

[2018-02-14 16:24] #509 closed

[2018-04-02 19:15] patwater opened #515 "Introducing Geo Street Talk -- blog post for newsletter [newsletter]"
Geo Street Talk translates loose conversational directions like between 6th and 8th street on Y avenue into a precise street segment.

See here for the draft blog post introducing the tool. https://docs.google.com/document/d/1V9cEFInH4HVlkDom5XgDh_GE0x3C863t5D-V0WQm_QU/edit

Here is the GitHub repo: https://github.com/Streets-Data-Collaborative/geo-street-talk-global

Could you please let us know

[2018-04-09 03:16] todrobbins commented on #515
Hey @patwater,

Sorry for the delayed response! I don't know the current review protocol, but @rufuspollock or @pwalsh can get this reviewed.

Cheers!

[2018-04-09 08:06] rufuspollock commented on #515
@todrobbins if you sign off on this we'd be happy to include. We'd need someone to volunteer as newsletter editor in place of @danfowler who is no longer available.

[2018-04-09 20:14] patwater commented on #515
Great! Really appreciate it! CC @YukunVVan who did the work and authored the post and @dmarulli who was point from Team ARGO

[2018-04-09 20:27] patwater opened #516 "Introducing a GeoCrossWalk API for LA and NYC -- blog post for newsletter"
See here for the draft blog post: https://docs.google.com/document/d/1JHmhscg0wrKXIaN5qcbuRKV6uDXKJVbrvEmCzKUlO-Y/edit#

See here for the API: https://geocrosswalk.herokuapp.com/

Same series as #515

[2018-04-09 21:48] todrobbins commented on #515
@rufuspollock you got it! I can handle some editorial duties 👍

PS: @patwater, I just requested access to that doc. Will approve once I can review.

[2018-04-09 22:07] todrobbins commented on #516
This is terrific! I made some grammatical suggestions, and once those are addressed you're welcome to send in a pull request.

[2018-04-09 23:47] todrobbins commented on #515
@YukunVVan looks good!

Are you hoping to have these posts syndicated on the Labs blog or just included in the newsletter?

[2018-04-10 17:50] patwater commented on #515
Both would be nice if that's possible :)

[2018-04-10 17:51] patwater commented on #516
@guarav I don't actually have the ability to accept edits. Could you please go through @todrobbins comments?

[2018-04-11 03:33] gauravcusp commented on #516
Het @patwater I've accepted the edits and made the required changes as suggested by Tod. Please review and we're good to send the pull request.

[2018-04-18 04:02] patwater commented on #515
@todrobbins not to be a nudge though what's the approx timeline on these? Just trying to get a sense so can coordinate on our end. Thanks much!

[2018-04-22 03:37] todrobbins commented on #367
Do we need to recruit roles again at this point? @rufuspollock @serahrono @Stephen-Gates

Or maybe I've lost track of current roles and this is merely a personal issue 😆

[2018-04-23 02:29] patwater commented on #516
Cool so I think we're good for the less geeky protocol of sharing a gdoc?

[2018-04-23 02:30] patwater commented on #515
@todrobbins roger does the gdoc work? If not @YukunVVan could you please add as a PR to the repo?

[2018-04-28 20:31] rufuspollock commented on #367
@todrobbins we do need to re-recruit, that's correct. /cc @serahrono

[2018-05-02 21:25] andylolz opened #521 "https wildcard certificate"
Hello! We received a request for https support on http://datapipes.okfnlabs.org (okfn/datapipes#127).

It would be cool! I guess it would require a wildcard certificate on the okfnlabs.org domain. Is that doable?

Thanks!

[2018-05-02 21:43] tfmorris commented on #521
Let's Encrypt gives out free wildcard SSL certs

https://community.letsencrypt.org/t/acme-v2-and-wildcard-certificate-support-is-live/55579

[2018-05-02 22:05] andylolz commented on #521
Thanks, @tfmorris!

I’ve realised I should be able to do this myself for datapipes, using ACM on heroku (which does indeed use Let’s Encrypt!)

Closing this one.

[2018-05-02 22:05] #521 closed

[2018-05-07 21:34] patwater commented on #516
@todrobbins need anything else to publish this in the newsletter?

[2018-05-29 19:01] patwater commented on #515
@todrobbins nudging these up in your notifications :)

[2018-08-20 07:45] mattfullerton opened #524 "Automated Certificate Management has failed for your app datacatalogs-org"
Automated Certificate Management has failed for the following domains:

datacatalogs.org | CDN not returning HTTP challenge
dataportals.org | CDN not returning HTTP challenge
new.datacatalogs.org | Unable to resolve DNS for new.datacatalogs.org
www.datacatalogs.org | Unable to resolve DNS for www.datacatalogs.org

[2018-08-20 12:28] roll commented on #524
I hope it will help (pls let me know if we need other tweaks at CloudFlare level).

Closing for now. Please re-open if needed.

[2018-08-20 12:28] #524 closed

[2019-09-07 10:42] ps-george opened #540 "Add & default to HTTPS"
No automatic redirect to HTTPS; and whilst browsing via HTTPS my browser shows this error:
![image](https://user-images.githubusercontent.com/17267419/64473893-e29b1c00-d16c-11e9-831c-b371f2e09f9d.png)

[2019-10-04 14:44] Vipin1patel commented on #464
Please help

[2019-10-04 14:45] Vipin1patel commented on #515
http://vipinpatel.com

[2019-10-04 14:47] Vipin1patel opened #541 "[newsletter]http://vipinpatel.com"
Please help me

[2020-09-20 17:04] ejkelly08c opened #545 "Timemaps won't load"
For about a week now Timemaps won't load (ones I've created, or the demo Timemaps on the homepage); just get a perpetual "Loading data" message. Have tried Chrome and FF.

![IMG_20200920_120040](https://user-images.githubusercontent.com/23296106/93717135-5ff7bb80-fb39-11ea-8608-730d4da4a4f0.jpg)

[2020-09-20 18:16] tfmorris commented on #545
Looks like the directory https://timemapper.okfnlabs.org/vendor/recline/ which contains a bunch of needed dependencies was either deleted or is inaccessible for some reason. This shouldn't affect Timelines hosted other places, only those on okfnlabs.org

[2020-09-21 13:44] ejkelly08c commented on #545
Thanks Tom. I'm working with 5 classes at my university who are making
Timelines hosted at http://okfnlabs.org; is there a chance of this being
fixed?

EJK

On Sun, Sep 20, 2020 at 1:16 PM Tom Morris <notifications@github.com> wrote:

--
Elizabeth Kelly, C.A., D.A.S.
Digital Programs Coordinator
Loyola University, New Orleans
ejkelly@loyno.edu
http://orcid.org/0000-0002-7306-3331
she/her/hers
Clic

[2020-09-21 16:37] tfmorris commented on #545
Hard to say. @lwinfree and @todrobbins seem to have made recent changes here, so they may have access to the server to figure out what's going on.

ReclineJS seems to have been taken over by the commercial company Datopian, so perhaps @rufuspollock knows of an alternative hosting for timelines.

If you're university IT department has the capability to host, that might be the solution that gives yo

[2020-09-21 16:42] ejkelly08c commented on #545
Thanks so much again, Tom. Getting our IT to host is probably not an option
at this point in the semester. If any of those tagged here can offer a
solution that allows us to continue hosting either at okfnlabs.org or
somewhere else free (and, ideally, continue using the same spreadsheets the
students are already creating), it would be much appreciated.

EJK

On Mon, Sep 21, 2020 at 11:38 AM Tom Mo

[2020-09-22 08:16] amercader commented on #545
@ejkelly08c Apologies for the issues. There was a misconfiguration in a routine maintenance deployment, but it should be fixed now. Let me know if you still find any issue.
Thanks @tfmorris for the pointers

[2020-09-22 08:16] #545 closed

[2020-09-22 14:54] ejkelly08c commented on #545
Thanks so much Adrià!

On Tue, Sep 22, 2020 at 3:16 AM Adrià Mercader <notifications@github.com>
wrote:

--
Elizabeth Kelly, C.A., D.A.S.
Digital Programs Coordinator
Loyola University, New Orleans
ejkelly@loyno.edu
http://orcid.org/0000-0002-7306-3331
she/her/hers
Click to schedule a meeting <https://calendly.com/elizabethjoankelly/30min>

[2020-11-05 19:26] kasplin opened #546 "timemaps won't load"
I read the previous thread #545 about timemapper at http://timemapper.okfnlabs.org/ that was happening in September, and seems to be happening again. I can see, edit, and use my old timemaps, but any new ones have a perpetual loading screen (3 days and counting).  I thought it might have to do with the increased number of options for how to publish your google sheets, but none of the possible publ

[2020-11-09 15:00] kasplin commented on #546
@amercader You seemed to be able to fix this in September.  Is there a similar problem now?

[2021-09-03 13:35] Schimy commented on #546
hi, I got the same problems ... please fix them soon!

thx a lot!

[2021-09-03 13:44] amercader commented on #546
We are assessing options for timemapper. Please check this issue for updates https://github.com/okfn/timemapper/issues/224

[2021-09-03 13:44] #546 closed

[2022-07-12 13:29] augusto-herrmann opened #548 "Replace Google Calendar (site visitors are tracked by Google)"
I understand that Google Analytics has been removed (#547) from the site, however, user tracking by Google still happens with the Google Calendar widget present on the main page. This fact is not even mentioned in the [privacy policy](https://okfn.org/privacy-policy/).

I suggest that we either replace Google Calendar with a privacy preserving alternative or get rid of it altogether. Are the onlin

[2022-08-08 15:19] avdata99 opened #550 "Remove Travis"
We are building this site with Travis but this is no longer available (last build was [3 years ago](https://travis-ci.org/github/okfn/okfn.github.com/builds)).
We probably need to move to GitHub actions.

[2022-08-08 19:20] augusto-herrmann commented on #550
Considering that this site already builds with Jekyll, which is natively supported by Github Actions, this shouldn't be too hard to do.

[2022-08-18 16:36] #550 closed

[2022-08-23 18:07] augusto-herrmann commented on #548
Unless we start meeting regularly again, I think we can make do without a calendar. And if that happens, let's just open a new issue for that. So let's just close this one.

[2022-08-23 18:07] #548 closed

[2022-11-17 22:33] haggis78 opened #552 "TimeMapper without Twitter?"
In light of the chaos at Twitter, we can't take it for granted that everyone has or wants to have an account there. What prospects are there for a way to sign in to TimeMapper that are independent of Twitter? Thank you.

[2022-11-18 09:28] aivuk commented on #552
@haggis78 I think it is better to move this discussion to timemapper repository https://github.com/okfn/timemapper/. I agree with you that it would be a good idea to add other sign in option to timemapper and it wouldn't be so hard considering that it is using passport library that supports a lot of different options as you can see here https://www.passportjs.org/packages/. The biggest work would

[2022-11-21 20:23] haggis78 commented on #552
@aivuk Thank you. I have reposted the Issue where you suggested.

[2022-11-21 20:23] #552 closed